[2016-02-19 03:37] sjfink opened #1 "support local CouchDB in place of Cloudant"
Add an option to deploy openwhisk pointing to a CouchDB installation rather than requiring a Cloudant account.

[2016-02-19 03:38] sjfink opened #2 "upgrade to use docker 1.10"
as per title

[2016-02-19 22:25] sjfink opened #5 "stop mounting filesystem from vagrant host"
Right now the instructions say to git clone on the host, then map the filesystem into the virtual machine.

This is problematic on Windows where the host filesystem permissions are inconsistent with Linux/Mac.

Instead:   change the directions to simply wget our Vagrantfile (or just download it if wget not available), and then do the git clone directly to the filesystem inside the Ubuntu VM.

[2016-02-22 21:40] psuter opened #8 "Test issue."
This project has only a small number of issues, this is great!

[2016-02-22 21:40] #8 closed

[2016-02-22 21:43] rabbah commented on #8
Yes, we're nearly done!

[2016-02-24 01:02] vinodmut opened #13 "Enable Travis CI integration"
@sjfink Can we enable Travis CI integration with this repo? Among other things, this will annotate pull requests with the build status of the corresponding commits.

[2016-02-24 16:49] sjfink opened #15 "support java actions"
First step: allow users to upload a jar file to define an action.

[2016-02-24 16:50] sjfink opened #16 "support python actions"
As per title.

[2016-02-24 16:54] sjfink opened #17 "support choice of node.js runtime for an action"
Right now javascript actions run with node 0.12.9.

We need to support newer versions of node.js.

As upgrading base software will be an ongoing issue, we should design a solution to allow users to choose either "latest" or a backlevel configuration for an action.

[2016-02-24 17:05] markusthoemmes commented on #17
As a first step, how about we use node images from https://hub.docker.com/_/node/ for our NodeJSAction containers (as their baseimage). Then, we'ld have at least 2 different NodeJSAction containers built:

* nodejsaction-argon --> LTS version
* nodejsaction-latest --> Latest version

additionally we could have

* nodejsaction-0.12

Tags in the node Dockerhub repository are very nicely structured a

[2016-02-24 17:10] sjfink commented on #17
@markusthoemmes I think we have a decision to make on the correct schema here.   I see at least two choices:
* still use one string to identify the base image (as now), but use conventions with separator characters (-) to name versions.   I think this is your proposal.
* add a new field to the action schema called "version" or "runtimeVersion".

I think either could work, but since this will be an

[2016-02-24 17:13] markusthoemmes commented on #17
Well pulling them from Dockerhub is only an implementation detail, which keeps us from maintaining the node version themselves.

I think both your suggestions are needed.

1. The actions needs to tell the invoker which image it needs to use to start the container (that's the field you described)
2. Invoker pulls the appropriate image, which it does by the naming scheme proposed by myself.

In fact

[2016-02-25 04:49] sjfink opened #19 "support go actions"
as per title

[2016-02-25 08:39] l2fprod opened #20 ""wsk activation list" should show more information about activations"
If I'm looking at a recent activation to debug it and I don't know its ID, it would be useful to have its start/end time, its status (success, running, failed).

Currently other than confirming there are activations, it is not very useful:

[code]

[2016-02-25 08:40] l2fprod opened #21 ""wsk activation poll" should prefix log statements with activation ID"
Having the activation ID in all log statements will make it easier when debugging an execution as one could sort the rows to group them by activation ID.

Currently everything is mixed up:

[code]

Note that in this output, I have prefixed all my log statements with the id of the cloudant document I process - it helps.

[2016-02-25 08:41] l2fprod opened #22 ""wsk activation poll" should put a timestamp on "Activation: action (id)" statement"
The "Activation:..." lines should have a timestamp like the others. Make it easier when debugging a log file to have everything formatted the same.

[code]

[2016-02-25 13:07] vinodmut commented on #17
Is this related more broadly to the runtime environment in addition to the runtime version?

For example, not just Python 3, but a Python 3 "data science" environment that would come with NumPy, SciPy, etc.

[2016-02-25 19:41] vinodmut commented on #13
Travis CI is configured to schedule a build for every commit and pull request. We may want to limit it to just the latter.

Currently it only builds the project. Running the tests requires we embed Cloudant credentials in the repo, so I'm considering that dependent on issue #1.

[2016-02-26 12:39] data-henrik opened #24 "Put requirements like Python 2.7 into top README"
The info on Python 2.7 is listed under docs, but the "setup CLI" is in the top README. Include the requirements there.

[2016-02-26 17:38] mbehrendt commented on #13
@vinodmut shouldn't we leave this one open until #1 is closed?

[2016-02-26 18:57] vinodmut commented on #13
Sure, we can re-open it. I don't see a way to specify dependencies among issues.

@lehoanganh Does waffle.io support dependency tracking?

[2016-02-26 20:32] psuter commented on #1
Just a quick note that I've been working on this and got all the tests in `DataStoreTests.scala` to pass in my branch psuter/openwhisk@d75f18772bd7be7c112bf7ff19ab914ab8303767. The plan is now to unify the Cloudant/CouchDB classes to avoid the duplication I introduced, and to improve the setup scripts.

[2016-02-26 20:46] psuter commented on #1
Also, one point we should discuss is whether we want to make a CouchDB container an (optional) part of the deployment, or whether we "just" want to support connections to databases that users set up themselves.

[2016-02-26 21:47] mbehrendt commented on #1
@psuter can you pls document all changes you had to make for supporting couchdb?

to your 2nd point....how much effort would that be? i guess no code changes?

[2016-02-26 21:51] mbehrendt commented on #1
just looked at the branch, seems like there were no real changes needed?

[2016-02-27 20:08] rabbah commented on #5
@vinodmut @sjfink for your review #26.

[2016-02-27 20:30] rabbah commented on #5
Fixed in this commit: https://github.com/openwhisk/openwhisk/commit/3b51155c11276ed8ccaaa786aa697f7dbb0e7ed8

[2016-02-27 21:03] sjfink commented on #21
I don't see "everything is mixed up".   I see all the logs for each activation id printed together in a group.

Am I missing something?

[2016-02-27 22:44] rabbah commented on #21
The current output does not provide the text in brackets `[ activationId ]`. So it is harder to tell which logs are for which activation id.

[2016-02-27 22:51] sjfink commented on #21
I'm not sure I want to see a redundant [ activationId] to each line by default.  As a human I find the current format easy to read, as the groups are visually obvious.

Is the intent of this request to ease machine parsing or human consumption?

[2016-02-28 02:25] mdcarlson opened #29 "Getting Exception: 'NoneType' object has no attribute '__getitem__' on wks and wskadmin commands"
On my Macbook, I followed the instructions for 'Vagrant cheat sheet (for Mac and Windows)' and 'Ubuntu cheat sheet'

My `vagrant up --provider=virtualbox` command completed successfully and I can `vagrant ssh` into the box.

When I attempt to execute the `wskadmin` command to create a new subject, I am getting an error of `

    Exception:  'NoneType' object has no attribute '__getitem__'

I get t

[2016-02-28 02:47] rabbah commented on #29
Hi Mark, can you rerun the wskadmin command with `--verbose` and report the stack trace? You may get to see a more meaningful error with `--verbose`.

[2016-02-28 02:49] mdcarlson opened #30 "wskadmin create user testuser returns "Database does not exist error:"
I have successfully created a Cloudant db and can interact with it from cURL and form Chrome using jsonview.

When I attempt to create a new subject using `wskadmin` I get a "Database does not exist error"

    wskadmin -v user create testuser1
    using CLOUDANT_PASSWORD = xxxxxxxx
    using CLOUDANT_USERNAME = yyyyyyyy
    using CLOUDANT_WHISK_AUTHS = <<auth.guest content>>

    ========
    REQ

[2016-02-28 02:52] rabbah commented on #30
Did you run the script `tools/cloudant/createImmortalDBs.sh <cloudant username> <cloudant password>`? And did you do an `ant clean build deploy` already?

I see one thing that looks out of order in your wskadmin command:

the right hand side of this assignment should be "subjects" not a key as your output shows.

[2016-02-28 03:01] rabbah commented on #1
@psuter is head of my changes, I am working off his fork.

[2016-02-28 04:35] mdcarlson commented on #30
Changing the value of the CLOUDANT_WHISK_AUTHS property to `subjects` was the fix.  Thanks

[2016-02-28 04:35] #30 closed

[2016-02-28 04:37] rabbah commented on #30
Great. Note that you shouldn't have to modify these settings manually as they're generated during the deploy process.

[2016-02-28 04:37] mdcarlson commented on #29
Verbose output shows the following:

    wsk -v property set --apihost 192.168.33.13 --auth $(cat config/keys/auth.guest)
    Exception:  'NoneType' object has no attribute '__getitem__'
    Traceback (most recent call last):
      File "/Users/mcarlson/workspace/openwhisk/bin/wsk", line 53, in main
        apihost = resolveOverrides(whiskprops['CLI_API_HOST'], userprops.get('APIHOST'), args.apiho

[2016-02-28 04:42] mdcarlson commented on #30
The instructions in the "Ubuntu Users" section shows running two bash commands to set two of the properties in the config file.  The `CLOUDANT_WHISK_AUTH` property is not mentioned in the instructions, but the requirement for it is shown as an error message when running `wskadmin`.

    # create cloudant configuration file
    echo "OPEN_WHISK_DB_USERNAME=<cloudant username>" > cloudant-local.env

[2016-02-28 04:51] rabbah commented on #1
Here are two patches required to get the CLI tests to pass on the couchdb-in-a-box branch.

[code]

[code]

The reduce_limit is set false to suppress couch's heuristic for map/reduce on views (which detect if a view is not reducing to a scalar). As this scripts will require further refactoring to restructure the build and deployment, I'm providing a patch for @psuter to merge as part of the ongoin

[2016-02-28 05:06] rabbah commented on #30
Thanks for the added explanation - I'll improve the docs. You have to run `ant build` at least once to generate whisk.properties before you can use wskadmin. If you don't your configuration will fail to validate with this error message:

[code]

[2016-02-28 05:11] rabbah commented on #29
Which python version are you running on your mac? It should be 2.7+.

[2016-02-28 05:14] mdcarlson commented on #29
python --version
    Python 2.7.11

[2016-02-28 05:21] rabbah commented on #29
Thanks - reproduced. Here's a workaround (on your Mac):

[code]

[2016-02-28 07:15] #24 closed

[2016-02-28 14:39] mdcarlson opened #31 "wsk commands return "[Errno 111] Connection refused""
After a successful build in a Vagrant container, I am getting

    wsk --verbose list
    {'apihost': '172.17.0.1:443', 'namespace': '_', 'clibuild': '2016-02-28T08:53:30-05:00', 'apiversion': 'v1'}
    ========
    REQUEST:
    GET https://172.17.0.1:443/api/v1/namespaces/_
    Headers sent:
    {}
    error: [Errno 111] Connection refused

The box has the following interfaces configured:

    if

[2016-02-28 14:51] rabbah commented on #31
suspect the router failed in your vagrant machine.
[code]

if that returns nothing
[code]

if that shows that nginx is owned by root, remove it.

[code]

then `ant teardown deploy` and try again.

[2016-02-28 15:22] mdcarlson commented on #31
Great.  Will try these steps this afternoon.

[2016-02-29 00:58] mdcarlson commented on #31
I completely tore down the Vagrant box  (`vagrant destroy` + `vagrant box remove ubuntu/trusty64-2`) and then reinstalled from scratch following the steps in the `Build and deploy OpenWhisk` section.

I can successfully create a new subject using`wskadmin` and can set the `apihost` property on the command line with no errors.

However, when I attempt to run the sample action, I am still getting co

[2016-02-29 01:27] sjfink commented on #31
Could you run 'ant clean build deploy >& /tmp/x' and attach /tmp/x here?

[2016-02-29 01:29] rabbah commented on #31
note: scrub the file for any cloudant password.

[2016-02-29 01:34] mdcarlson commented on #31
Will do.  Back in an hour.

[2016-02-29 01:36] rabbah commented on #31
If it helps - this is the output of `docker ps` inside a clean vagrant machine I just created. So there was a failure in your case to either build or deploy. The logs will helps us diagnose what went wrong and improve the process. Thanks for your help and patience.

[code]

[2016-02-29 01:47] rabbah opened #32 "nginx deployment fails if mount source is wiped"
Observed this failure a few times and here's how to reproduce it.

[code]

Now /tmp/nginx is owned by root instead of the user (e.g., vagrant); nginx deployment appears to work and the failure is detected much later because the API host will not respond. The nginx container during deployment comes up and responds to heartbeat before it detects a bad configuration (and dies).

The nginx deployment

[2016-02-29 02:44] mdcarlson commented on #31
Attached.

[openwhisk.build.log.txt](https://github.com/openwhisk/openwhisk/files/150287/openwhisk.build.log.txt)

Running the sample action now produces a different result:

    wsk -v action invoke /whisk.system/samples/echo -p message hello --blocking --result
    {'apihost': '192.168.33.13:443', 'namespace': '_', 'clibuild': '2016-02-28T20:51:47-05:00', 'apiversion': 'v1'}
    ========
    REQ

[2016-02-29 02:52] rabbah commented on #31
The log you attached shows the controller failed to start up: "controller is not responding." And this would explain the bad gateway failure.

How much RAM Does your Mac have?

[2016-02-29 02:53] mdcarlson commented on #31
8GB.  Approx 1.5GB free.

[2016-02-29 03:00] rabbah commented on #31
try manually restarting the controller only:

[code]

then run `wsk list` it should respond with

[code]

if that works, you can invoke the action again.

[2016-02-29 03:05] rabbah commented on #31
If the previous works, I suggest this `ant clean build deploy -Dbuildthreads=1`

[2016-02-29 03:16] mdcarlson commented on #31
That worked.

@rabbah is the suggestion to specify the number of buildThreads something that I need to do now or just if I have to rebuild again in the future?

[2016-02-29 03:21] rabbah commented on #31
I'm suspecting that the parallel builds and deploys are stressing the vms and the containers are slow to come up and respond. If with 1 build thread you're able to reliably bring up and deploy the system, you can create a custom config file that overrides the parameter so you don't have to type it regularly. I will post instructions here once you confirm that improves your build/deploy cycle.

[2016-02-29 03:26] mdcarlson opened #33 "Error invoking wsk actions. "The supplied authentication is not authorized to access this resource""
I can successfully run `wsk list` but am getting an "authentication not authorized" error when invoking the sample action.

     wsk list
     entities in namespace: default
     packages
     actions
     triggers
     rules

Results of `wsk action`:

     wsk -v action invoke /whisk.system/samples/echo -p message hello --blocking --result
     {'apihost': '192.168.33.13:443', 'namespace': '_', '

[2016-02-29 03:27] mdcarlson commented on #31
OK, I'll kick that off shortly and capture the output.

[2016-02-29 03:36] rabbah commented on #33
This can happen if the package was not actually installed. Are you running off the deployment with the failed controller from issue #31? If so, that deployment did not run to completion and hence the standard assets are not installed.

[2016-02-29 03:38] mdcarlson commented on #33
Yes.  That's likely the case.   I'll retest after creating the build as suggested in #31.

[2016-02-29 03:41] rabbah commented on #33
A successful deployment will finish with this:

[code]

[2016-02-29 04:28] rabbah commented on #32
I'm inclined to replace the mount based approach with a docker cp instead. The current approach is flaky.

[2016-02-29 06:25] psuter commented on #1
The branch at psuter/openwhisk@5226d62ae337f290d3ab7d90b494ddac11ff0b23 passes all tests using either Cloudant or a generic CouchDB installation as the database backend. The database code is shared to the extent possible, considering the Java APIs for Cloudant and CouchDB are type-incompatible.

We still need to make a pass on all comments and documentation elements that are Cloudant-specific. We

[2016-02-29 14:58] l2fprod commented on #21
note that the text in brackets was not the activation id but a cloudant document id - actions do not have access to the activation id AFAIK.

Take this other output, there are multiple activations running in parallel and in this output I had not yet instrumented my logs to add the document id between brackets:

[code]

I don't think the groups are obvious.

Today if something goes wrong in one act

[2016-02-29 19:45] rabbah commented on #21
@l2fprod In your instrumented logs, the id between brackets is an id that is meaningful to you (it is from your action), not an activation id. @sjfink's point is that the log messages in the poll output already demarcates the log activations and prefixing every log message with that id is redundant.

I like your suggesting of reporting a better summary in activation list: status (success or failur

[2016-03-01 00:59] mdcarlson commented on #33
Re-running the entire `ant clean build deploy` with the single thread option specified lead to a successful build and deploy.  The sample actions were deployed correctly and the sample action returns expected results both when run from within the VM and from outside the VM.

Thanks!

[2016-03-01 00:59] #33 closed

[2016-03-01 01:03] mdcarlson commented on #31
With the single thread option specified (e.g. `ant clean build deploy  -Dbuildthreads=1` ) , the entire build process completed successfully and correctly deployed the sample actions.

For reference, I was using a mid-2012 Macbook Air with 8Gb RAM and a 500Gb SSD drive.

The failure to deploy the proxy (nginx container) caused the authentication error shown in the subject line.

[2016-03-01 01:03] #31 closed

[2016-03-01 01:03] rabbah commented on #33
Great - glad to hear it. I'll add a tip to the docs and tweak base on your experience. Thanks.

[2016-03-01 01:03] #5 closed

[2016-03-01 01:15] rabbah commented on #31
I'll address the nginx build/deploy robustness in issue #32.

[2016-03-01 04:44] mdcarlson commented on #29
Workaround of creating default.props file allowed the `wsk` commands to proceed.

[2016-03-01 04:44] #29 closed

[2016-03-01 14:41] l2fprod commented on #21
so I missed something in how "activation poll" works. It does not work like  "tail" showing all the logs from all activations as they happen. Rather it logs on activation ID and its logs when it completes. and in this case there is proper grouping.

What is weird is that in the output I pasted this is not happening and you can see several "Activation: name (id)" lines without logs in between and I

[2016-03-01 20:57] sjfink commented on #21
Yes, this is exactly as I would expect.     Since you did not return whisk.async(), technically the activation ended at the return statement, and the asynchronous log was attributed to the next activation.   This is by design and is a feature and not a bug.

Now that we agree that logs are not interleaved for correct actions, but grouped as intended, do you still think we should have the activatio

[2016-03-01 23:10] mbravorus opened #35 "ant deploy target fails due to container name conflicts"
After a successful build in a Vagrant box on a Mac, deploy target fails like this:

[code]

Conflicting names vary, from nginx to zookeeper to kafka (with deploy bailing out at appropriate stages)

[2016-03-01 23:12] rabbah commented on #35
Did you do ant teardown?

[2016-03-01 23:12] markusthoemmes commented on #35
Try `ant redeploy` (which is essentially `ant teardown` and `ant deploy` in conjunction)

[2016-03-02 00:14] rabbah opened #36 "stop printing credentials in build/deploy logs"
Several of the build/deploy scripts will echo logging information to console that may contain sensitive information. Remove all of these log messages so that it is easier to post issues and share logs without having to sanitize the logs.

[2016-03-02 06:20] mbravorus commented on #35
Thanks, teardown/redeploy helped. It now bails at installCatalog: stage (some package installations fail), but I guess that should be a different issue.

[2016-03-02 07:13] rabbah commented on #35
How'd it fail in install catalog? Related to this issue? https://github.com/openwhisk/openwhisk/issues/31

-r

[2016-03-02 08:54] l2fprod commented on #21
Provided the developer correctly calls whisk.async/done, the grouping works the purpose - no need for the activation id.

However the fact that logs done in the context of one activation gets attached to the next activation because I did not call whisk.async() looks like an unexpected side-effect. Now I have an activation record that has captured the execution logs of multiple action invocations.

[2016-03-02 10:43] mbravorus commented on #35
Yes, issue 31 seems relevant, I will attempt a single-thread rebuild and
report.

On Wed, Mar 2, 2016 at 9:13 AM, rodric rabbah <notifications@github.com>
wrote:

[2016-03-02 18:10] mbravorus commented on #35
Confirming that single-thread build and deploy complete successfully
without any errors.

On Wed, Mar 2, 2016 at 12:43 PM, Michael Bravo <mbravo@acm.org> wrote:

[2016-03-02 18:15] sjfink opened #38 "confusing error message for wsk action update"
Attempting to update an action sequence that doesn't exist results in a confusing error message:
[code]

We need a better error message like "Error: cannot update sequence A which does not exist".

Alternatively, we could change the semantics of 'update' to mean 'createOrUpdate'

[code]

[2016-03-02 18:17] rabbah commented on #38
Try --sequence before the action name on update.

[2016-03-02 18:19] sjfink commented on #35
Since several people have hit this already, should we change the default to one thread?

[2016-03-02 18:23] sjfink commented on #38
OK that worked.   So I deduce that the semantics is in face "update or create".

So the "bug" is that the 'create' and 'update' CLI syntax is inconsistent

[2016-03-02 21:13] #35 closed

[2016-03-02 22:41] vinodmut commented on #38
We've seen this before. It's consistent if you do this:

    wsk action create --sequence foo artifact
    wsk action update --sequence foo artifact

Python argparse doesn't like `--sequence` after the action name for the `update` command because the artifact is an optional parameter (which is not the case for `create`). I'm not sure if there's a quick fix for this.

[2016-03-02 22:44] mbehrendt commented on #38
is this going to be easier to solve once we've moved to the go cli?

[2016-03-03 00:21] vinodmut commented on #38
Possibly. It'll depend on the argument parsing library the Go CLI uses.

[2016-03-03 16:03] domdom82 commented on #15
What's the runtime specs for running Java code?

Do we have a running liberty server that loads the jar and calls a method?

Or is it a simple `java --jar useraction.jar`?

[2016-03-03 18:44] psuter commented on #15
The current design is that users upload a jar and specify the fully qualified name of the entry-point class. That class must define a method with the signature:

[code]

...where `JsonObject` is `com.google.gson.JsonObject`. The code is hosted by a proxy that handles the OpenWhisk container protocol. It is implemented using `com.sun.net.httpserver.HttpServer`, which comes with the JDK.

[2016-03-03 21:36] #36 closed

[2016-03-06 02:58] sjfink commented on #21
The programming model specifies that if you leave background processing running when you finish an activation, the activity will be charged to the next activation, if there's an activation in the same container.   This is pretty fundamental -- in any case it is certainly a feature and not a bug.

Apart from that, it appears that we agree that grouping works the purpose and there's no need to print

[2016-03-06 02:58] #21 closed

[2016-03-06 03:01] sjfink commented on #22
@l2fprod : now that we agree that the Activation statements are used for grouping, do you still want this feature (timestamps on the group headers).?

I actually think having a different format is useful to help the human eye perceive the grouping.

[2016-03-06 10:39] mbehrendt commented on #22
@sjfink can you pls send me a pointer describing what is meant by 'grouping'? independently from that, it feels like having a timestamp for activations is sth useful

[2016-03-06 11:04] mbehrendt commented on #22
@sjfink pls ignore my comment above, just found the issue you're referring to is #21

[2016-03-06 11:36] mbehrendt commented on #21
@sjfink i tend to agree that from a user perspective, this behavior might be perceived as causing undesired side-effects / inconsistent behavior. eg would the 'charging to the next activation' only be done if the same container gets hit? eg would there be no charging if a different container gets hit? might cause the user to be puzzled on why charging is sometimes done and in other cases not.

a m

[2016-03-06 23:32] sjfink opened #47 "discussion: relax convention on main() entrypoint in javascript"
One user has suggested that forcing the action method to be main() is too constraining and we should allow the user to specify the main method.

Originally we did this via module.exports.    As we move to support more languages, it may be better to define a language-neutral attribute on actions.

Alternatively, we could decide not to support this.

[2016-03-06 23:51] sjfink commented on #21
@mbehrendt note that no container will run at all in the background -- "idle" containers are paused, no matter whether the user tries to spawn a background process or not.    The user will never see charges for any activity except for the normal "synchronous" activation lifetime.    The user is never charged while the container is idle in a cache.

[2016-03-07 08:50] markusthoemmes commented on #47
Any details on what is constraining about it?

[2016-03-07 13:05] l2fprod commented on #22
@sjfink: given activation statements act as a separator I'd say I don't need the timestamp in this case.

[2016-03-07 13:05] #22 closed

[2016-03-07 16:24] l2fprod opened #49 "OPTIONS verb not implemented by OpenWhisk REST API to invoke actions"
Hi,

I've been working on a OpenWhisk action that I want to call directly from the web browser. But I got an issue using jQuery.ajax. JQuery is sending a preflight OPTIONS method to check for cross-domain requests. As OpenWhisk does not emit proper CORS headers today, the AJAX call failed.

Could OpenWhisk REST API implement OPTIONS and send the right CORS headers?

[2016-03-07 22:40] mbehrendt commented on #21
@sjfink i was referring to this stmt from you: " if you leave background processing running when you finish an activation, the activity will be charged to the next activation, if there's an activation in the same container."

this sounds to me like the user is charged on the next activation based on a running background process. if not, what is the right way of interpreting this?

[2016-03-07 22:42] mbehrendt commented on #47
imho, it feels unnatural to prescribe a 'main' function to exist in js code

[2016-03-08 00:49] sjfink commented on #21
Well,  the user is being charged on the next activation based on the time spent in the next activation. It's true that a runaway background process will also be running, and that might slow down the work during the next activation -- but it's an indirect effect -- the user will not be charged directly for the runaway background activity.

[2016-03-08 06:53] psuter commented on #1
The code has made it to master, and Travis continuous integration testing is now done on the full test suite, using CouchDB as store. Keeping this issue open to remind me to document the setup for interested CouchDB users.

[2016-03-08 11:35] mbehrendt commented on #21
thank you, that now makes sense to me. however, this part of your stmt is still unclear to me and i'm struggling to understand how it fits with your last comment: "the activity will be charged to the next activation, if there's an activation in the same container." . what do you mean by that?

[2016-03-08 14:18] sjfink commented on #13
As the Travis CI is now doing the full build with CouchDB, I think we can close this one.

[2016-03-08 14:18] #13 closed

[2016-03-10 14:24] jthomas commented on #17
If you're thinking about the future Node.js images for openwhisk, you might want to compare compilation and execution time when using a [Node.js image](https://github.com/mhart/alpine-node) that bases from [Alpine linux](http://www.alpinelinux.org/).
They are tiny in comparison to the official Node.js images which base from Debian.

<pre>
REPOSITORY           TAG                 IMAGE ID

[2016-03-10 14:26] jthomas commented on #17
Digging around more, it looks like the official Node.js images will soon support Alpine Linux out of the box
https://github.com/nodejs/docker-node/issues/46

[2016-03-10 14:44] jthomas opened #56 "Allow actions to return JS Promise directly"
With Promises now part of the JS standard library (ES6 onwards+), it would be nice to replace the return value for async actions from the whisk function calls to a native Promise. See the example below.
This would have many benefits for the user including allow them to directly return responses from many third-party modules that return Promises without having to add unnecessary boilerplate to hand

[2016-03-10 19:20] sjfink opened #59 "wsk activation poll backoff"
currently wsk activation poll polls every 2 seconds, indefinitely.

instead, it should backoff exponentially -- for example, after each 100 seconds, double the poll period.

[2016-03-10 20:37] sjfink commented on #59
yes, I agree websockets or syslog is better long term.

[2016-03-12 01:46] Samze opened #68 "Support newer node version for actions"
At the moment the nodeJsAction container runs v0.12

[2016-03-12 12:29] sjfink commented on #68
Yes -- duplicate of issue #17 .   Closing as duplicate.

[2016-03-12 12:29] #68 closed

[2016-03-12 17:49] sjfink commented on #1
Docs checked in -- closing as fixed

[2016-03-12 17:49] #1 closed

[2016-03-12 18:35] rtang03 opened #69 "Set your OpenWhisk Namespace and Authorization Key"
I had ever connected via CLI successfully. After I build my local OpenWhisk development environment, the CLI does not work.

I input the same command "wsk property set --auth <my OpenWisk key>" in my terminal, it returns

[2016-03-12 18:47] rabbah commented on #69
`wsk property set --auth xxx:yyy` for some xxx:yyy as the auth key does not make an API call. It just write to the wsk property file. Are you saying that after you set the auth key to an appropriate value, a subsequent API call fails?

If so,
1. are you using cloudant or couchdb and did you run the script `createImmortalDbs`?
2. are you using one of the built in keys or a new key?
3. if using a ne

[2016-03-14 09:03] domdom82 opened #73 "Setup guide for mac-only using docker machine"
As a second way of setting up a dev machine there is the option to use docker machine
instead of vagrant.

The advantage is greatly improved performance on a mac.
Also it eliminates problems with shared folders and symlinks.
The result is a mac that builds OpenWhisk locally and deploys it into a very small VM that is managed by docker machine.

These steps should later be turned into a setupguide.

[2016-03-14 09:23] markusthoemmes commented on #73
As a first shot, let's assume the user has [**homebrew**](http://brew.sh/) with [Caskroom](https://caskroom.github.io/) installed. That will greatly simplify the setup process.

[2016-03-14 12:59] vmtyler commented on #16
The interesting part will be handling the requirements compiling. Lambda currently punts on this and requires users to upload all the packages (compiled) as part of their code. The problem is if I'm a mac user and compile lxml, it won't run on lambda because it's Amazon Linux.  At the most basic level, having  whisk run a 'pip install' (maybe even create a virtualenv) of a requirements.txt to get/

[2016-03-14 13:01] vmtyler opened #74 "wsk sdk install docker fails due to missing tarball"
the command
`wsk sdk install docker`
looks for the tarball on the API host. it's not being hosted by the API endpoint and the command fails.

[2016-03-14 14:39] kolien opened #76 "Delete default parameters for actions and packages (and annotations too)"
Using the command line interface, is it possible to delete default parameters for actions and packages once they have been defined?

[2016-03-14 14:44] rabbah commented on #76
Use `update` to define new prameters. These _replace_ existing ones.

[2016-03-14 14:49] kolien commented on #76
A I understand it, this will replace existing parameters with new ones, but not delete them.

[2016-03-14 19:04] rabbah commented on #76
That's true, from the CLI, you can replace but not delete. If you made a direct API call, you could delete and replace the parameters.

[2016-03-15 03:18] psuter opened #79 "Transient failures for `ConsulKVTests` in CI builds"
The test fails occasionally, mostly on Travis CI runs (e.g. [this one](https://s3.amazonaws.com/archive.travis-ci.org/jobs/115372956/log.txt)). The most obvious symptom being:
[code]
The issue is likely to be that timeouts are too short for the performance the machines provide. Alternatively, the test should retry a few times before giving up.

[2016-03-15 16:13] rtang03 commented on #69
I figure out what is wrong. After setting up the local development environment; I run `wsk property set --apihost ` pointing to Vagrant. I forget to change the apihost back to openwhisk.ng.bluemix.net. Be better, you may add documentation mentioning the proper --apihost

[2016-03-15 16:13] #69 closed

[2016-03-16 07:05] iainduncani opened #80 "Unable to call action from JavaScript"
I've been trying to invoke a whisk action from my JavaScript running on Bluemix similar to what is documented here:

https://github.com/openwhisk/openwhisk/blob/master/docs/reference.md#additional-sdk-methods

However, I haven't been able to get this to work.  I did see there are some samples that show how to do this for instance:

https://github.com/openwhisk/openwhisk/blob/88cb9961d5d3553026a941

[2016-03-16 08:56] jeremiaswerner commented on #80
@iainduncani I tried out the `wsk action list /whisk.system/samples` on my namespace with fresh installed CLI in Bluemix and it generally seems to work. Could you pls do two things:
 * run the `wsk -v ...` and post the details here. Another options is to download and refresh the CLI.
 * refresh the CLI
[code]

[2016-03-16 09:14] iainduncani commented on #80
Hi,

Thanks for getting back to me so quickly, so when you listed the samples did it contain the countdown and wcbin samples?  I just get four samples and they don't include those.  Running with the -v flag  I get this:

[code]

Do you know how to turn the logging on in whisk.js, I see it has a logger but I couldn't work out how to turn it on, I think that would be more useful as it is the call to

[2016-03-16 10:56] rabbah commented on #80
We don't install all these samples by default. You can create and install it yourself.

[2016-03-16 12:29] jeremiaswerner commented on #80
I tried it out and observed two things:
 * it worked with my private namspace: `jerewern@de.ibm.com`
 * it did not work with my shared namespace: `IBM Whisk_dev`

I've created the `countdown` action in my private namespace `jerewern@de.ibm.com`
[code]

Then I invoked with the action with payload 10 and polled for activations:

[code]

The result was:
[code]

[2016-03-16 12:35] rabbah commented on #80
This is consistent with what I pointed out: the countdown example does not fully qualify the action name. Hence it will only work if you fully qualify the action in the code. Or as you did, create the action in the default namespace (which is assumed when you don't fully qualify an action name).

[2016-03-16 12:46] rabbah commented on #80
Since the first question was about running in Bluemix, you have to qualify the action name with the namespace you're running in.

[2016-03-16 13:38] kolien opened #81 "Not receiving Cloudant change feed information when using the Cloudant dashboard"
Using the documentation in the README, I have tried to create a trigger associated to the change feed for a Cloudant service and looking at the `wsk activation poll`.

The change feed does not seems to be active when using the Cloudant dashboard, when I:
1. Create a database (corresponding to the name of the trigger parameter `dbname`.)
2. Creating a document.
3. Deleting a document.
4. Changing o

[2016-03-16 14:40] iainduncani commented on #80
Thanks, I've got this working by changing my namespace as described by @jeremiaswerner.  I had also tried to qualify the action name by doing this:

`name : '/iain.duncan@uk.ibm.com_iainduncani/countdown'`

but that didn't have any affect, @rabbah is that what you mean by qualifying the action name?

Cheers,
Iain

[2016-03-16 18:14] perryibm commented on #74
There is a related bug in that the CLI itself is also not hosted at the API host.  There are some gaps in both the build and deployment scripts caused by a conflation of developer vs user role.  The first step is to make the dockerSkeleton tar ball available in the directory structure after a build and we should have this done soon.  The second step is to make sure both tar balls (CLI and docker s

[2016-03-17 00:56] rabbah commented on #81
How recent is your checkout if you're using OpenWhisk (and not Bluemix). I fixed a bug related to this a few days ago.

[2016-03-17 11:20] kolien commented on #81
`wsk -v package list`gives me:
'clibuild': '2016-03-03T09:55:47-06:00'
'apiversion': 'v1'

[2016-03-17 13:45] kolien commented on #81
As additional information:
I downloaded the wsk binary from [https://new-console.ng.bluemix.net/openwhisk/cli](url) that points to a file named "openwhisk-0.1.0.tar". This file name hasn't changed since my last install so I guess either this file does not contain the latest version or the name has not changed.

[2016-03-17 14:47] paulcastro commented on #81
@kolien, this order works for me:

1. create DB in Cloudant
2. create trigger on Cloudant changes feed per README.

I don't receive updates if I reverse the order and create the trigger before the DB exists.

[2016-03-17 14:52] kolien commented on #81
Thanks for clearing that up for me. I did not try that. Maybe the readme should be updated with a information that the database has to be created first.

[2016-03-17 14:54] paulcastro commented on #81
Yes.  Perhaps return an error if the feed cannot be setup successfully.

[2016-03-17 16:59] perryibm opened #88 "Testing infrastructure needs access to infrastructure logs as part of verifying correctness"
Two cases that can use this.

1. Using the invoker logs, determine how long an activation takes and put a bound on it for various cases (warm vs cold).  We have a system level test for this but it is measuring end-to-end.
2. Using the load balancer logs, determine that in flight is 0 after quiescense.

[2016-03-18 07:14] nheidloff opened #91 "wsk package refresh doesn't work"
I tried to follow the instructions https://new-console.ng.bluemix.net/docs/openwhisk/openwhisk_catalog.html#openwhisk_catalog_cloudant to use Cloudant. However wsk package refresh doesn't work. As a workaround I followed the steps in "Setting up a Cloudant database outside Bluemix".

[code]

[2016-03-18 07:20] nheidloff opened #92 "wsk activation poll doesn't show anything after a trigger was created"
The documentation https://new-console.ng.bluemix.net/docs/openwhisk/openwhisk_catalog.html#openwhisk_catalog_cloudant states in section "Listening for changes to a Cloudant database" that wsk activation poll should show when the trigger is executed.

But this only works after a rule has been created that includes that same trigger and an action.

Could the documentation be updated? Or even better

[2016-03-18 10:04] kolien commented on #92
I have noted a similar somewhat related behavior, that activation poll only registers information when "read" and "write" actions are invoked, but not when database content is changed or created using the Cloudant Dashboard (inside Bluemix)

[2016-03-18 10:52] markusthoemmes commented on #91
Thank you for reporting this issue. The bug is actually not in the open source code base, but in bluemix-specific code. We’ll keep you updated on when a fix is rolled out so you can verify. Stay tuned!

[2016-03-18 11:05] kolien commented on #81
I did a new test today.

1. Downloaded openwhisk CLI using pip.
2. Deleting old trigger.
3. Created a new trigger towards the same cloudant service that now already contains a testdb database.
4. Starting activation poll
5. invoking read/write actions using CLI, receiving change related messages in activation poll as expected
6. Manually creating docs and changing docs using cloudant dashboard, ac

[2016-03-18 12:36] domdom82 opened #93 "KafkaTests depends on KafkaConnectorTests"
Commit https://github.com/openwhisk/openwhisk/commit/ef0c02606d803839a26612af0408af0483f29414

ignores KafkaTests for now.

We found out that the test works if KafkaConnectorTests run first. It fails if not, so I assume a connection between the two.

Related to gradle work in https://github.com/openwhisk/openwhisk/pull/6 which changed order of test execution and revealed this dep.

[2016-03-18 14:33] #88 closed

[2016-03-18 14:53] paulcastro commented on #81
@kolien , I performed the same steps as you and I'm able to get change notifications using the CLI as well as the Cloudant Dashboard.  My current setup follows the "Setting up a Cloudant database outside Bluemix"

[2016-03-18 19:56] paulcastro opened #94 "Update iOS starter app to use Podfile"
Including the SDK binary framework in the starter apps is fragile.  We should remove the embedded binary of the iOS SDK and change over to a CocoaPods and Carthage style of install.

[2016-03-19 10:10] kolien commented on #81
@paulcastro, I followed the "Setting up a Cloudant database in Bluemix" recipe.

[2016-03-19 14:12] paulcastro commented on #81
@kolien , I changed my setup to use the Cloudant database in Bluemix and I'm able to replicate this issue.  I only see changes when the write is issued from the CLI.  I am unable to see changes when I use the Cloudant dashboard.  @rabbah I suppose this is a bug -- perhaps because Bluemix setups have to go thru the Bluemix Cloudant broker?

If you would like to use the Cloudant dashboard, I recomme

[2016-03-19 14:34] rabbah commented on #81
This defect was addressed in the above mentioned commit but is not yet deployed to Bluemix. I will post an update when it's available.

[2016-03-19 15:15] rabbah commented on #92
This is a duplicate of #81.

[2016-03-19 15:15] #92 closed

[2016-03-20 16:50] domdom82 opened #95 "Install prereqs for ansible migration"
Ansible needs to be installed on dev env:

- [x] local (ubuntu-setup. all.sh)

Ansible prereqs are:

[code]

Ansible can then be installed via

[code]

Alternatively, we can get pinned versions via apt:

[code]

[2016-03-21 17:04] domdom82 opened #98 "Provide ansible playbook for controller deployment"
Provide an ansible playbook that deploys controller.

Purpose of this playbook is to replace the ant target

`startController`

in `core/controller/build.xml`

[2016-03-21 17:23] domdom82 opened #99 "Provide ansible playbook for invoker deployment"
Provide an ansible playbook that deploys invokers.

Should be able to deploy, scale up and scale down invokers.

Purpose of this playbook is to replace the ant target

`deploySlaves`

in `core/build.xml`

-Probably also handle userland network creation and ipTables rules here.

[2016-03-21 17:26] domdom82 opened #100 "Provide ansible playbook for loadbalancer deployment"
Provide an ansible playbook that deploys the loadbalancer.

Purpose of this playbook is to replace the ant target

`startLoadBalancer`

in `core/loadBalancer/build.xml`

[2016-03-21 17:29] domdom82 opened #101 "Provide ansible playbook for kafka deployment"
Provide an ansible playbook that deploys kafka.

Purpose of this playbook is to replace the ant target

`startKafka`

in `services/kafka/build.xml`

[2016-03-21 17:38] domdom82 opened #102 "Provide ansible playbook for consul deployment"
Provide an ansible playbook that deploys consul.

Purpose of this playbook is to replace the ant targets

[code]

in `services/consul/build.xml`

Depending on how ansible is going to change the overall deployment, we might also include the `importWhiskProperties` task in the playbook.

[2016-03-21 17:53] domdom82 commented on #95
Pinning on ansible-2.0.1.0 for now

[2016-03-21 17:57] domdom82 opened #103 "Provide ansible playbook for common tasks during deployment"
Provide an ansible playbook that runs common steps during whisk deployment:

- deployDatabase
- installCatalog
- buildCLI

Purpose of this playbook is to replace the ant targets

`installCatalog`
`deployDatabase`
`buildCLI`

in `build.xml`

[2016-03-22 14:59] #95 closed

[2016-03-22 15:59] domdom82 commented on #102
investigate using consul_kv module instead of own script to load properties into kv store.

see http://docs.ansible.com/ansible/consul_kv_module.html

[2016-03-23 16:09] domdom82 opened #111 "loadbalancer dockerfile should contain CMD with start script"
controller and loadbalancer are currently started in different ways:

controller dockerfile contains `CMD controller/bin/controller` that allows us to simply do
[code]

in loadbalancer we have no CMD directive which is inconsistent.
here we have to do
[code]

We should aim to be consistent on our docker image semantics.

Will attach PR to fix this.

[2016-03-23 16:51] rabbah commented on #111
Are you going to normalize all the containers this way?

[2016-03-23 16:54] markusthoemmes commented on #111
I think that's not possible with Dispatcher today since we need to tell it wether it's an Activator or an Invoker.

[2016-03-23 17:00] rabbah commented on #111
you will be happy soon then.

[2016-03-23 17:25] psuter commented on #15
Basic support as of 11556af73e96c7070173f1191ae1b27c82080b72. Improvements shall be requested as separate issues.

[2016-03-23 17:25] #15 closed

[2016-03-23 17:31] psuter opened #114 "Bump Swift version to 2.2 in `whisk/swiftaction`"
[Swift 2.2 was released](https://swift.org/blog/swift-2-2-released/) although the Linux port doesn't yet ship with `Foundation` and `libdispatch` by default. Make sure we support at least the stable language specification, possibly using patched/snapshot libraries at this point.

[2016-03-23 19:57] sjfink opened #116 "discussion: parameters in action sequence"
Right now our programming model says that in an action sequence A -> B, only the output of A is passed to B, as in Unix pipes.

An alternative would be that all parameters passed to A are also passed to B, along with the output of A, merged via overwriting.

Options include:
- keep things the way there are
- change things to alternative B
- support either/or via a flag.

Input welcome.

[2016-03-23 20:00] mbehrendt commented on #116
based on personal experience and questions i received, i think it would be more intuitive of all parameters would be available to all actions

[2016-03-23 20:12] ryanjbaxter commented on #116
I like the idea of having the parameters initially passed to the sequence being available to all actions.  If not and you need some parameters passed to an action later on in the sequence than the actions start to for dependencies on each other.  I would like to have the option of keeping them completely independent of eat other.

[2016-03-23 20:14] rabbah commented on #116
I made this mistake at first of assuming it was B. If we support both, the question then is: what's the common case default. There is the risk that if you pass parameters to all actions, how do you merge parameters from the input with the result produced by an action in the sequence (result takes precedence in case of a collision?) and what should the default be (streaming as in unix pipes doesn't

[2016-03-23 20:21] mbehrendt commented on #116
personally, i wouldn't support both (complicates things).

to me, a reasonable behavior is that the last write of a parameter value wins

[2016-03-23 22:10] psuter commented on #116
Let me try to describe why I support the current implementation. It has a natural definition as [function composition](https://en.wikipedia.org/wiki/Function_composition):

    (a1 sequence a2)(args) = a2(a1(args))

This plays nicely with the mindset that serverless architecture such as OpenWhisk give you "functions in the cloud".

Now, in the variant where arguments are forwarded to all actions i

[2016-03-23 22:52] sjfink commented on #116
Suppose they are in fact forwarded to the final output, so this is in fact the case.

You are correct that
   a1 != (a1 sequence identity)

Recall that actions produce and consume maps.   Assume for a map M, M[p] is the value of M for key p, and undefined if the M does not contain the key p

If we define actions A and B are equivalent (===) iff
   for all x,p: A(x)[p] == B(x)[p]  whenever both A[p

[2016-03-23 22:55] psuter commented on #116
I think your theorem hold, but I'm not sure I like the assumption that `{ "password": "123456" }` and `{}` are the same object.

[2016-03-23 22:57] sjfink commented on #116
Clearly they are not the same object.    But that may be a valid and useful definition of "actions are equivalent" despite this fact.

[2016-03-23 23:55] psuter commented on #116
One more thing we should clarify in scenario B is whether the default parameters are forwarded as well. If I do:

    wsk action create foo -p token secr4t foo.js
    wsk action create bar --sequence foo baz

...does `baz` always receive the `token` parameter when used in the `bar` sequence?

[2016-03-23 23:58] markusthoemmes commented on #116
@psuter in your last example i'ld argue that those parameters are not forwarded as they are explicitly bound to a function (a bit like currying the function even?). These edge-cases make things more complicated though, as they break with our assumption of JSON-in, JSON-out as those parameters would need to be handled in a special way, even though they are part of the object given to the function i

[2016-03-24 00:24] psuter commented on #116
Sure, it can be a definition. It has strange properties, though, like the fact that it doesn't induce an equivalence relation, since `f1 === f2 && f2 === f3` doesn't imply `f1 === f3` (take `f2 := function (args) { return {}; }`, which is equivalent to every other action, for a particularly egregious example).

This discussion on the proper definition of equivalence is a bit of a digression anyway

[2016-03-24 00:39] rabbah commented on #116
What are the subtleties on A? Assuming A is the current semantics.

We don't distinguish default vs other arguments now. I don't think we should either.

[2016-03-24 00:49] psuter commented on #116
Yes, and the mistake is reasonable, if you think procedurally:

    inputs1 = ...
    results1 = do_action_1 // inputs1 in scope
    results2 = do_action_2 // both inputs1 and results2 in scope

[2016-03-24 01:12] ioana-blue commented on #116
I like version A (the current implementation) better. I find it simpler. Also, option B can be simulated by copying inputs to outputs. If we have only option B in place, you can't avoid passing the params to all actions in sequence, whether they need it or not.

I don't like the idea of supporting both versions. It complicates design and interfaces unnecessarily.

[2016-03-24 02:09] visahak opened #117 "whisk package for IFTTT maker channel"
Support integration with IFTTT through a whisk package.

[2016-03-24 05:48] sjfink commented on #116
OK, let's consider a use case.

I want to create a an action 'translatedForecast' which gives me the weather.com forecast in a language 'L' which is a runtime parameter.

I have as building blocks 2 actions: 'forecast' and 'translate' .    The latter takes a string 'S' and a language 'L' and gives me 'S' translated into language 'L'.

These are library (system) packages - not my own.

Option B let

[2016-03-24 07:27] markusthoemmes commented on #116
That glue code was what i was concerned about aswell. Passing the top-level parameters to all functions is a more general strike and let's you include more general functions (like system packages) in your flow without the need of writing glue code. In Steve's example above, it's not even possible to pass the language parameter L at runtime, right? You'ld need to bind it at creation time which woul

[2016-03-24 08:12] rabbah commented on #116
The trade off is simple: globally scoped variables (which means in your example say there was also an API key that is now accessible to third party code that it has no business seeing), or locally scoped ones which yes may require you to add a level of indirection so that instead of calling the third party code directly there is a wrapper around each that filters and passes whatever parameters tha

[2016-03-24 08:29] rabbah commented on #116
We could approach this differently: when creating a sequence, you can optionally provide a function `projectParamrers` which projects from the input arguments that are applied to the sequence those specific to each action in the sequence (by position or name). The projected parameters are merged with the results of a precious action before applying the next action in the sequence.

[2016-03-24 09:19] #111 closed

[2016-03-24 09:22] #98 closed

[2016-03-24 12:00] sjfink commented on #116
**Global variables are convenient, but leak information.**

Absent any new constructs, I think this sentence captures the tradeoff perfectly.

[2016-03-24 12:04] mbehrendt commented on #116
i'm wondering whether the 'information leakage' is a big issue, given it's not sth behind the scenes, but the way how global variables work would be documented transparently -- and everyone can decide whether they want to leverage action sequences or not. i'd err on the side of convenience and if someone wants to have granular control over how variables flow, they can still call actions programmat

[2016-03-24 12:14] sjfink commented on #116
To make things concrete, here's another use case to consider:

I have 2 library methods 'cipher' and 'send-email' :

cipher takes 2 parameters (privateKey, cleartext) and produces ciphertext.
send-email takes 2 parameters (party, msg) and sends the msg to party via email.

These are both library/system packages.  send-email is provided by SendGrid, whom I do not trust with my cleartext.   I do tru

[2016-03-24 12:19] mbehrendt commented on #116
in that case -- wouldn't party have to be a global variable?

[2016-03-24 12:19] sjfink commented on #116
No party would not have to be global -- note that I bound it in mySend

[2016-03-24 12:22] mbehrendt commented on #116
so i can't pass it in during runtime / action invocation?

[2016-03-24 12:22] sjfink commented on #116
Not for the purposes of this example.   This example is intended to demonstrate an information leak.

[2016-03-24 12:25] mbehrendt commented on #116
what if i wanted to pass in the email address during action invocation (which is not unrealistic -- usually you want to send emails to more than one fixed person) ?

[2016-03-24 13:01] #102 closed

[2016-03-24 13:01] #100 closed

[2016-03-24 13:19] sjfink commented on #116
The point I'm trying to make by these examples is : translateForecast illustrates convenience.   sendEncryptedToJoe illustrates an information leak.

Yes, semantics A makes it more inconvenient to pass the email address to the 2nd action.

In other words: yes, we can modify sendEncryptedToJoe to create an example which also highlights convenience, and yes we can modify translateForecast to create

[2016-03-24 13:27] mbehrendt commented on #116
yeah, i agree -- these are good examples to illustrate the pro's and con's for each scenario.

the point i was trying to make -- in my mind, this is not only a balancing of convenience vs. data protection, but also one of wide vs. narrow applicability.

if we go for the convenience path, the sequencing feature has a much lower barrier to entry / is in many cases easier to adopt. the 'data leakage'

[2016-03-24 16:27] paulcastro commented on #116
This issue also touches on re-usability of packaged actions.  Actions that don't feed the correct parameters to the downstream sequenced actions can't be used directly.  I encountered this when trying to store a document using cloudant/write, then pass that document to another action so I don't have to do a DB lookup.  The current cloudant/write action only returns the _id and _rev from Cloudant.

[2016-03-24 16:33] domdom82 opened #123 "wait steps and registry for component playbooks"
add registry support for existing playbooks.
implement the "waitForXXX" ant task in ansible for already committed playbooks

- [x] controller
- [x] loadbalancer
- [x] consul

[2016-03-24 21:06] jthomas commented on #116
The current implementation feels more intuitive and simpler IMHO. I can understand the benefits the second approach brings but it feels like there would be more unintended consequences ("I have to remember to return an empty parameter with the same name for each input parameter I don't want to leak to the next actions....").

I'm not sure you'll really ever get away with writing some "glue" code i

[2016-03-24 21:15] mbehrendt commented on #116
another consideration we should factor in is...originally, a key motivation for introducing sequences was that the user doesn't have to write code. if lots of glue code or umbrella actions need to be written, that value props lowers.

[2016-03-24 21:45] rabbah commented on #116
The glue code is a red herring - if you can curry your arguments by binding them ahead of time to the action create, you can still apply the conservative mode of strict function composition. you will have to write glue code whenever the action you want to use from a third party doesn't do exactly what you want. I think leaking by default may have the exact opposite effect. If we start with the res

[2016-03-24 22:01] mbehrendt commented on #116
while it is technically possible, binding action parameters (which are dynamically provided during runtime) before action invocation is not really a common pattern today and it also requires additional coding. i'm not against a more restrictive model, but we need to be clear that this limits the addressable set of scenarios / raises the barrier of entry. there is no good or bad -- it's just about

[2016-03-24 22:03] vinodmut commented on #116
As others have noted, this comes down to whether we want to make things **easy** or **safe**? I lean towards the latter.

One point I'd like to re-emphasize is that action sequences aren't the only
way to compose actions. You can always write an action that invokes other
actions with the exact parameter passing semantics you want.

Here's an example (in pseudocode) that neither alternative A nor B

[2016-03-24 22:10] vinodmut commented on #116
For reference, here's how piping semantics (alternative A) would look like as code:

[code]

And here's alternative B as code:

[code]

Developers don't mind writing code, so let them code.

[2016-03-24 22:10] mbehrendt commented on #116
agree -- the coding approach is definitely the most flexible one.

originally, we intended sequences to make it easy (ie with no code) run actions in sequence.

if we err on the safe side for sequences, we don't have an easy solution anymore for sequencing.

if we err on the easy side for sequences, we have an easy solution for simple chaining, and still a more complex one (coding) for more comple

[2016-03-24 22:34] vinodmut commented on #116
@mbehrendt Very good point that sequences are an ease-of-use feature, so we should chose the "easy" semantics (alternative B). I still worry that we make things so easy that people don't realize they're leaking information.

I know others are against supporting both alternatives, but for the sake of brainstorming, what if we allowed you to explicitly specify the "global" parameters. For example

[2016-03-24 22:57] mbehrendt commented on #116
@vinodmut interesting thought. the potential challenge i see is that for a user the different semantics of parameters is not intuitive. in your `wsk action invoke` example, for me as a user, it seems like all parameters are equal, so i might be irritating why only my first parameter is only available to all actions, and not to others.

besides that, what would i do if i wanted to have more than 1

[2016-03-24 23:04] vinodmut commented on #116
I think that's how it should be. The user (i.e., the invoker of the action) shouldn't care about the parameter passing semantics within the sequence, and shouldn't even know what the composed actions are. Only the author of the sequence should care about which parameters are "global".

`_globals` can be a list of parameters. For example:

    wsk action create foo --sequence action1,action2,action

[2016-03-24 23:11] mbehrendt commented on #116
thank you -- that makes sense to me.

what about the point that it might feel arbitrary that i can only pass 'private' parameters to action1, but not to others? eg is that a limitation we should accept, while the main value lies in making the declaration of global variables explicit?

[2016-03-24 23:18] vinodmut commented on #116
I don't immediately see a clean way to support this. Do we have any use cases for this? Maybe at this point we ask the developer to write code. :)

[2016-03-25 02:18] psuter commented on #116
I like the solution @vinodmut started sketching a lot, since it makes it explicit which parameters are forwarded. I also like how it's a natural extension of the existing sequencing construct. We could generalize this, and explicitly *bind* inputs to actions within the sequence. E.g:

    wsk action create --sequence a1,a2,a3 -b username a1:username a3:user_name -b token a2:auth_token

(This would

[2016-03-25 15:35] mbehrendt commented on #116
yeah, i think this is going in the right direction.

as an initial step, we might just want to start with vinod's the globals option, and as we see a sufficient number of use cases, we can add more sophistication as you laid out above. there's lot of things we _could_ do, but would start minimal first.

thoughts?

[2016-03-27 07:00] rahulguha opened #127 "error invoking action"
I installed openwhisk per https://github.com/openwhisk/openwhisk#alternate-instructions-for-mac-developers
I followed everystep but at the end I get Errno 2 - Service Not known
when I try
wsk package list or wsk action list
as I tried -v I see the apihost was blank

What would be right apihost after initial build ?

[2016-03-27 08:38] rabbah commented on #127
Did you try these steps: https://github.com/openwhisk/openwhisk#using-cli-from-outside-vagrant-machine

[2016-03-28 20:16] perryibm commented on #79
@psuter Still happening?

[2016-03-29 00:06] rabbah opened #132 "API should allow successful response of a blocking invoke to be just the result object"
The current action activation API states that a successful blocking invoke responds with an activation record, which contains among various properties, the result of the activation. This is not convenient if the result of the activation needs to be consumed by a third party service. Hence, the API should provide an option to project the result from the activation on the server.

Note: The CLI prov

[2016-03-29 02:13] rahulguha commented on #127
My problem is NOT running from host machine.
I have installed everything and now trying to invoke the action echo from the vagrant (virtual machine) itself.

[2016-03-29 02:29] rabbah commented on #127
Thanks for clarifying.

It is unlikely that you ran `ant clean build deploy` successfully in that case since the end result of the deploy is to use the `wsk` CLI to install some standard assets.

Can you report the contents of `openwhisk/tools/cli/default.props` and what does this report `wsk property get --apihost`.

[2016-03-29 09:02] #123 closed

[2016-03-29 13:11] rahulguha commented on #127
default.props was created by me (based on another post) as it didn't exist on default install.

CLI_API_HOST=
WHISK_VERSION_DATE=

[2016-03-29 13:28] ashishth09 opened #133 "Swagger is broken on the API reference link in docs/reference.md"
It reads
Can't read swagger JSON from https://raw.githubusercontent.com/openwhisk/openwhisk/master/core/controller/src/resources/whiskswagger.json

[2016-03-29 13:47] ashishth09 commented on #133
Initiated PR

[2016-03-29 13:47] #133 closed

[2016-03-29 14:26] DamianCummins opened #136 ""failed to fetch action whisk.system/samples/greeting: Object Not Found""
Seeing the following after completing the OpenWhisk configure cli instructions on Bluemix:

root@96eb30f5db81:/opt# wsk action get --summary /whisk.system/samples/greeting
action /whisk.system/samples/greeting: Print a friendly greeting
   (params: name place)

root@96eb30f5db81:/opt# wsk action invoke --blocking --result /whisk.system/samples/greeting
error: {
    "activationId": "358991740954436

[2016-03-29 14:36] DamianCummins commented on #136
Note, I am able to create and invoke my own actions.

[2016-03-29 15:33] starpit opened #137 "wsk "-a" accepts invalid JSON and turns it into a string annotation"
we just merged in a breaking change to installWatson.sh:

[code]

the sampleOutput annotation is missing the "quotes" around confidence. wsk turns this into a string annotation, which was not what the author intended.

Option 1: change the meaning of -a to mean "strict JSON", i.e. the default will be to fail if the annotation is not parseable as JSON; add a --nonstrict top-level switch, or an -na

[2016-03-29 16:26] rabbah commented on #136
Thanks for reporting this. I will have a look.

[2016-03-29 18:16] vinodmut commented on #132
A projection on the activation `result` makes sense if we stop there. We should be careful about feature creep with requirements on settings response headers, mime types, etc. Such capabilities should belong in a separate service.

[2016-03-30 13:17] domdom82 opened #140 "introduce roles for ansible"
Currently, playbooks are mixed with code. They reside where ant build.xml files used to be.

This also means that anyone who wants to deploy a stack has to check out the entire source code.

Given that we want to be able to separate build from deploy, we suggest to move playbooks to a common folder and also introduce roles in this fashion:
[code]

Each environment can define variables specific to

[2016-03-30 13:19] domdom82 commented on #101
PR #119 merged. closing.

[2016-03-30 13:19] #101 closed

[2016-03-30 15:07] rabbah commented on #136
I have confirmed this is an issue and will report back when a fix is deployed.

[2016-03-30 15:17] DamianCummins commented on #136
@rabbah Great, thanks for the prompt response.

[2016-03-30 16:08] rabbah commented on #136
You may try again - should work for you this time.

[2016-03-30 16:13] DamianCummins commented on #136
@rabbah yep that worked. Thanks.

[2016-03-30 16:41] perryibm opened #141 "Merge LoadBalancer into Controller"
The work currently performed by the load balancer is currently too small to justify being standalone.  The extra layer also creates extra communication in terms of distinct paths and transmission time.  We want to merge the load balancer functionality into the controller which should be fairly easy as the communication pattern is already synchronous via a REST call.  At the same time, the controll

[2016-03-30 17:30] perryibm opened #142 "Create communication channel from invoker back to controller"
Currently the controller polls cloudant for activation records which introduces extra DB operations (unnecessary load) and increased latency.  The invoker should signal completion (along with the activation record if small) via low-latency kafka.  This work depends on the integration of the load balancer into the controller.  This channel will also give needed information for the load balancer to

[2016-03-30 17:32] psuter commented on #79
Looks good so far, thanks.

[2016-03-30 17:42] perryibm opened #143 "Kafka backpressure"
Currently the invoker absorbs kafka messages as fast as possible without heed to what it can truly handle.  This is bad because metrics based on kafka queues are misleading and also prevents RAS as the absorbed (yet unprocessed) messages are lost.  The load balancer is also potentially confused about how things are progressing.  Finally, the invoker can start too many activations and start thrashi

[2016-03-30 18:44] rabbah commented on #127
can you attach the result of your build? The previous update suggests you did not have a successful build.

[2016-03-31 02:33] rahulguha commented on #127
Hmm ... okay I shall build it again and send the outcome.

Thanks ...

*Rahul Guha*
Phone: *+*91 9686577645 | skype: rahul_guha
US Number: 408-418-4952
Google Voice: 813-473-7490 - leave message here

On Thu, Mar 31, 2016 at 12:14 AM, rodric rabbah <notifications@github.com>
wrote:

[2016-03-31 02:37] rabbah commented on #127
If you prefer, you can send it to me privately (rodric@gmail.com).

[2016-03-31 07:35] domdom82 commented on #140
The following host groups are currently in discussion:

[code]

**Reasoning:**

- A dedicated `edge` group allows us to potentially cluster NGINX. We did not call it NGINX because we want to make it clear that this is the group of hosts that is connected to the internet.

- We separated `controllers` from edge to be able to scale controller independently from NGINX. Otherwise every node that acted

[2016-03-31 09:57] #136 closed

[2016-03-31 13:02] psuter commented on #79
Here is one from this morning: https://s3.amazonaws.com/archive.travis-ci.org/jobs/119780915/log.txt

[2016-03-31 14:39] psuter commented on #79
I'll reopen when I have non-vanishing proof.

[2016-03-31 14:39] #79 closed

[2016-03-31 15:06] psuter opened #147 "Transient failures for `ConsulTests` in CI builds"
Test test `services.ConsulTests` fails occasionally on TravisCI, possibly due to over-optimistic timeouts.

This issue is distinct from #79.

See for instance: [log.txt](https://github.com/openwhisk/openwhisk/files/197912/log.txt)

CC @perryibm

[2016-03-31 15:21] perryibm commented on #147
Two thoughts:

1. What's tested here is subsumed but he ConsulKV tests.  Ioana to verify...  So delete this?
2. Otherwise, greatly lower the curl timeout and add retry.

[2016-03-31 15:42] vinodmut commented on #142
+1 on sending activation completion messages over Kafka. I don't think we can get rid of Cloudant polling entirely though. It needs to be a fallback in case the controller dies before processing the message.

Also, I imagine you'd want the completion message to be directed to a particular controller rather than broadcast to all controllers.

[2016-04-01 01:21] starpit opened #150 "Add ability to annotate activations (especially end-to-end response time)"
Extend the API with the capability for clients to annotate activations. The initial use case will be annotating activations with end-to-end response time.

Primary value: this will allow clients to keep track of user experience degradations (where end-to-end response time is critical).

Secondary value: this will allow OpenWhisk maintainers to track the effect of backend choices on user experience

[2016-04-01 08:16] daisy-ycguo opened #151 "template-couchdb-local.env is missing within openwhisk directory"
In README.md, it is said: Then within your openwhisk directory, copy the file template-couchdb-local.env to couchdb-local.env and edit as appropriate. Yet I failed to find template-couchdb-local.env within openwhisk directory. There is only template-cloudant-local.env.

I suggest to create a template-couchdb-local.env for users of couchdb.

Daisy

[2016-04-01 08:22] rabbah commented on #151
You're right it should be there.

[2016-04-01 08:23] rabbah commented on #151
Here's a sample of what it should contain:
[code]

[2016-04-01 09:18] mbehrendt commented on #150
@starpit can you pls elaborate on how you envision the annotation of activations to work?

[2016-04-01 09:43] lzbj opened #152 "deploy failed"
Hi,

I succcessfully build the openwhisk docker images according to READme, but when I try ant deploy, I got the following error.

[code]

what might be the issue, is any anyone else encountered the same issue?

Thanks
dliu

[2016-04-01 10:53] rabbah commented on #152
You have a valid couch or cloudant configuration file?

[2016-04-01 13:58] starpit commented on #150
i believe that @rabbah already has this support in the backend, though it is not exposed through the controller as of it.

the thought is that we'd have a PUT/POST call which takes an activation ID and an annotation record e.g. `{key: "end-to-end-response-time-in-millis", value: 300}`, and the backend would merge this annotation into the existing annotation map of the given activation. we'll also

[2016-04-01 14:30] rabbah commented on #150
More precisely the REST API does not permit a PUT on activations. They otherwise are the same as other entities in terms of their schema. So we can define a PUT (not POST) operation to activations which accepts only annotations and these are merged with the activation record. The user may use these activations as they like for example to add a note to the activation, to label it, or store other me

[2016-04-01 15:29] fxulusoy commented on #132
Current activation result is on the following:

GET .../activations/123
[code]

@rabbah , do you envision something like that?

GET  .../activations/123?excludeMetadata=true
[code]

On the CLI:
[code]

[2016-04-01 15:44] rabbah commented on #132
This is related to the `actions` API not the `activations` API endpoints. A request to invoke an action via `POST /actions/name?blocking=true` currently returns an activation record `W` as the one you showed above. Instead I am suggesting `POST /actions/name?blocking=true&result=true` to return `W.response.result` instead for a successful activation (status code 200).

[2016-04-02 09:21] domdom82 opened #159 "Provide ansible playbook for activator deployment"
Provide an ansible playbook that deploys activator.

Purpose of this playbook is to replace the ant targets

startActivator
waitActivator

in core/dispatcher/build.xml

[2016-04-02 10:33] domdom82 opened #160 "docker.timezone.mount - replace with UTC"
this issue meant as discussion / decision thread.

current deployments always mount local timezone into docker containers.

local timezone is currently hard-coded to "America/New_York"

I'd like to argue that this be changed to UTC for the following reasons:

- in the past this might have been convenient for developers in NY but with going open-source we can no longer make that assumption.
- neith

[2016-04-02 14:59] mbehrendt commented on #150
i can imagine a good system-internal use case (eg the load balancer adding an annotaion with roundtrip time for a blocking invocation), but what is the (high prio) use case for externalizing this?

when millions of activations are getting produced as a result of invoking actions in a high-load scenario, it also seems like a perf-costly scenario to add annotations to each activation.

[2016-04-02 22:49] houshengbo opened #164 "The command "source docker.sh" fails on ubuntu destop and server"
The command "source all.sh" and "source docker.sh" can work well on the Ubuntu launched via vagrant. However, these commands do not work well on the ubuntu desktop and server. I have already tried on both 14.04 and 15.01.
For the desktop version: the terminal will surprising fade out during the execution of  "source all.sh" or "source docker.sh".
For the server version: the ubuntu will strangely r

[2016-04-02 22:55] houshengbo opened #165 "Lack of guidance for Cloudant on bluemix"
I have already registered in IBM bluemix.
I know my username, password and the api address. However, there is no document clearly describing how to configure the Cloudant on bluemix as the datastore.
Do we use the same configuration file cloudant-local.env as for Cloudant account directly with Cloudant? Or some other ways to configure?

[2016-04-02 23:00] rabbah commented on #165
There is nothing more you need to do more in Bluemix.

[2016-04-02 23:05] rabbah commented on #165
In the top level directory there is a file called template-cloudant-local.env copy it and edit the contents: The username and password from  Bluemix are filled out it template file  so you can create the required cloudant-local.env.

[2016-04-02 23:32] houshengbo commented on #165
Hi rabbah. I tried as you said for cloudant from bluemix. It did not work, only work for cloudant account from direct cloudant.

[2016-04-03 01:04] rabbah commented on #165
Hmm. The cloudant username from Bluemix should be a uuid followed by `-bluemix`. You can verify that you can login to the cloudant dashboard on cloudant.com.

[2016-04-04 07:46] jeremiaswerner commented on #141
@perryibm pls also consider the ansible runbooks and get in touch with @domdom82

see pull request #163

[2016-04-04 08:08] #140 closed

[2016-04-04 14:19] perryibm commented on #142
Yes, definitely to the specific originating controller using an instance topic as in the way it get to the invoker.  I think of it as a completion mechanism which happens to carry the message.  As such, I agree it will have to deal with a lack of ack if the invoker dies.

[2016-04-04 14:26] perryibm commented on #141
Will do.  The current PR is not actually merging yet so nothing to be done wrt ansible.

@domdom82 In an earlier PR, I had moved the controller from edge to master.  I updated a controller.yam file as Hoang agreed that it would be ok.  The current PR isn't moving anything so it doesn't matter.   The next step (work about to start on this) will the the final merge.  **Does it suffice to simply disa

[2016-04-04 14:39] ioana-blue commented on #147
I agree, this test needs to be removed since it's subsumed by the ConsulKV tests. I'll submit a PR shortly.

[2016-04-04 14:57] ioana-blue commented on #160
AFAIK, our core (Scala) components log time in UTC already. They all (should) use `Logging.scala`. See [this](https://github.com/openwhisk/openwhisk/blob/master/common/scala/src/whisk/common/Logging.scala#L103).

I'm fine with your proposal, specially that I don't think we'll notice a difference wrt logs.

[2016-04-04 16:02] ioana-blue commented on #147
Merged. Closing.

[2016-04-04 16:02] #147 closed

[2016-04-04 16:50] perryibm opened #169 "Add retry to ping tests"
Fix ping tests so they pass when the component is up.  Either adjust the junit test or extend the underlying isAlive (or the use of it) to increase retry.  I've seen it fail most often for invokers but it happens with other components too like kafka and I think controller.

[2016-04-04 17:20] psuter commented on #151
#153 has all the info.

[2016-04-04 17:20] #151 closed

[2016-04-04 18:51] houshengbo commented on #165
Hi rabbah.
I finally went thru the configuration of cloudant on bluemix. Thanks to the instructions here:
https://developer.ibm.com/open/2016/02/22/openwhisk-a-quick-tech-preview/.

I finally realized that the username and password need to be retrieved via the command like "cf service-key cloudant-for-openwhisk openwhisk". However, I took my bluemix username and bluemix password at first, which wa

[2016-04-04 18:55] rabbah commented on #165
The instructions you refer to are actually from the README file: https://github.com/openwhisk/openwhisk#create-a-cloudant-account-via-ibm-bluemix

[2016-04-04 18:57] seriousme opened #171 "publish container images to dockerhub"
Hi,

I managed to get openwhisk running using vagrant. After some fiddling I got the examples to work.
This made me wonder: if the openwhisk specific containers were available on docker hub it would be much easier to give it a spin (e.g. [docker-compose](https://docs.docker.com/compose/) up would be enough).
It would have also saved me a truckload of downloads :-)

I also noticed that the images a

[2016-04-04 19:13] houshengbo commented on #165
I was following exactly what is written here https://github.com/openwhisk/openwhisk#create-a-cloudant-account-via-ibm-bluemix, but still got confused at the beginning and messed up with the bluemix username and password.
I still think it is a good idea to add more explanation to avoid further confusion to folks who are at the early stage of openwhisk.

[2016-04-04 19:14] rabbah commented on #165
Thanks for the feedback - will tweak the docs.

[2016-04-04 21:40] perryibm opened #174 "Redundant build steps"
While debugging some docker issues, I happened to notice what looked like the swift action being built twice so I grep-ed for all the docker build steps.  We seem to be building all the language action containers twice (javaaction, nodejsaction, swiftaction).

[code]

[2016-04-04 22:00] markusthoemmes commented on #174
Yes we do. The second build is local to the machine though, while the first build builds the images at whatever machine you specified as `main`. Some tests need those images to be available at the executing machine.

Those tests should properly define these images as dependencies, which will remove the necessity to build them everytime.

[2016-04-04 22:03] psuter commented on #174
Could we build once and `pull` to the machines where the tests run? (I thought that was what we were doing.)

[2016-04-04 22:12] markusthoemmes commented on #174
I'ld rather decouple those tests from a whole build at all. The `actionContainer` tests only have those images as a dependency, which they should specify. A mechanism then needs to either `build` or `pull` these images, which I'ld deem an implementation detail.

Currently, there might be cases where a build happens remotely, but not populating a registry, making a `pull` not feasible currently.

[2016-04-05 02:49] #165 closed

[2016-04-05 06:10] lzbj commented on #152
thank you rabbah for your quick response, I'll check it.

[2016-04-05 07:05] lehoanganh opened #175 "Provide ansible playbook to deploy nginx"
Purpose of this playbook is to replace the `ant` target: `startProxy` in `services/nginx/build.xml`

[2016-04-05 07:56] domdom82 commented on #171
Hi @seriousme thanks for your excellent input.

I think it is a great idea to have the stack as compose topology on dockerhub.

Before we do that we should first reduce the image sizes so ppl won't have to download huge chunks.

Most images are based on whisk/scala which itself is pretty large. That itself can be reduced imho.

As for the consul part, we are currently working on moving to ansible

[2016-04-05 08:45] domdom82 commented on #99
userland network creation and iptables rules are moved to blue for the moment.

[2016-04-05 09:22] domdom82 opened #177 "deployDatabase should not need DB_PREFIX env var"
wipeTransientDBs.sh does load prefix from whisk.properties.

however it sources dbsetup.sh before it loads the db prefix from properties. that's why dbsetup.sh does not know the prefix on execution. as a hack, deployDatabase puts an <env> in the ant task.

this can be easily fixed by moving source dbsetup.sh further down after whisk.properties have been read.

[2016-04-05 09:23] #159 closed

[2016-04-05 15:21] #177 closed

[2016-04-05 15:52] #99 closed

[2016-04-05 17:01] #175 closed

[2016-04-05 17:19] seriousme commented on #171
@domdom82 Thanks for the positive feedback :-)

I found a relatively small scala package [frolvlad](https://hub.docker.com/r/frolvlad/alpine-scala/) based on Alpine Linux. Now I'm not a Scala expert, so I might be way off here, but alpine-scala is build on alpine-java (oracle jdk) which in turn is build on Alpine.

However if you want to stay main stream there is also a [docker java base image](ht

[2016-04-06 01:14] perryibm commented on #141
Update... Everything except rules is working because the activator needs to talk to the load balancer which no longer exists.  One alternative is to add these routes back to the controller but this seems a bit silly as we are about to get rid of the activator.  Since this is going reasonably fast, Rodric and I think we can just expand this work item to include merging the activator in as well.

[2016-04-06 07:34] domdom82 opened #184 "ant clean does no longer clean build dir completely"
probably a leftover from gradle migration. due to CLI not being built by gradle, the gradle clean target does not clean the "build" folder the same way as the ant target did previously.

this leaves outdated CLI code in build dir which may cause problems (as it did with new scanCode in my case)

directories remaining so far:

`build/docker-scratch`
`build/tools/cli`

[2016-04-06 13:13] lehoanganh opened #185 "provide ansible playbook for generating and deploying the cli tarball"
Purpose of this playbook is to replace the ant target: `buildCLI` in `tools/cli/build.xml`

[2016-04-06 16:39] sjfink opened #188 "swift samples package"
currently the 'samples' package contains only node.js samples.

We should distribute equivalent examples in swift.

Discussion item:   what is a good naming convention for samples?   One 'samples' package or one per language?

[2016-04-07 00:25] rabbah commented on #81
This fix was deployed to Bluemix but I forgot to update the issue. I have confirmed the trigger activations now appear in the `wsk activation poll`.

[2016-04-07 00:25] #81 closed

[2016-04-07 00:26] rabbah commented on #143
Kafka 0.9 upgrade completed, and now using explicit offset commit. Next stage is tracking activation status in the invoker and throttling consumption.

[2016-04-07 00:34] rabbah commented on #80
@iainduncani Here is how I changed the `countdown.js` sample to invoke from any namespace.

[code]

[code]

will create the action in the namespace `XXX` and invoke it from same namespace.

[2016-04-07 01:42] #169 closed

[2016-04-07 16:02] JacopoMangiavacchi opened #193 "Async Swift Action and Promise/Future"
Current Swift support is limited to synchronous action.  It should be nice to support GCD queue capabilities and implement a Whisk Swift API based on Promise/Future pattern such as BrightFutures https://github.com/Thomvis/BrightFutures

[2016-04-07 16:06] JacopoMangiavacchi opened #194 "Binary JSON format support"
Today it is not possible to pass pass a large binary attachment to an action.  Even encoding it in base64 the Json payload is limited to 1M.

In a classic Mobile/Bluemix/Watson/OpenWhisk integration scenario a mobile application want to upload a file such as a picture or an audio/video recording in order to orchestrate some Watson processing on this file.

In order to “pass” this binary file to an

[2016-04-08 08:30] uzzz opened #196 "Vagrant + virtualbox VM GUI"
Is it necessary to have a `vb.gui = true` in vagrantfile for VirtualBox provider? You advise to use `vagrant ssh` in README, so what's the purpose of this useless login window?

[2016-04-08 08:38] lehoanganh opened #197 "finalize ansible playbook/roles"
This issue covers the following tasks
- [x] introduce `mode` for each role, standard is **deploy**, overwrite to **clean** to undeploy the component
- [x] merge controller and loadbalancer roles
- [x] write whisk.properties file from template

[2016-04-08 08:39] markusthoemmes commented on #196
You're right, good catch! GUI is only necessary if you choose to install the Ubuntu Desktop. That could be made clear in `README.md`

[2016-04-08 10:47] domdom82 opened #198 "invoker should gc on exit"
If an invoker gets stopped it should remove all of its managed containers as well.

Currently when invoker starts, it launches warmup actions to speed up user invocations.

However if the invoker receives SIGTERM (i.e. docker stop), it just exits and the warmup actions (or any other action for that matter) remains in a paused state. You then have to manually do a docker unpause and docker rm of th

[2016-04-08 10:51] domdom82 commented on #196
We could disable it by default. Would not even use it on desktop.

[2016-04-08 12:34] domdom82 opened #199 "invoker mounts /var/lib/docker/containers - prevents docker rm from working correctly"
When invoker is launched, it mounts a volume as

`/var/lib/docker/containers:/containers`

which is the folder where docker keeps filesystems of all its containers.

I presume this is used for the invoker to access the filesystems of launched actions.

However, when trying to remove other containers (like registrator, consul etc.) you get the following error messages:

[code]

[2016-04-08 14:10] domdom82 commented on #199
Recent discussion has brought up the problems with fetching logs from user containers making this a non-trivial issue.

Current ideas for mitigation would be:

- `docker logs --since=nnn containerid` to fetch logs instead. needs to be evaluated on performance impact.

- customizing log driver to write into a different file. no apparent option available at least for the json driver. we could only l

[2016-04-08 14:36] perryibm commented on #198
From a RAS perspective, you can't rely on any infrstratucture container to do any followup action in the event of unexpected termination.  There is no normal shutdown path for the invoker and even adding one does not remove the job of dealing with an unexpected termination.

We do in fact unpause/rm in teardown of VMs during testing.

[2016-04-08 16:34] domdom82 commented on #198
The two problems are orthogonal in my point of view. Yes, containers can crash at any time which is why there are nannies in place. But if you allocate stuff you should make sure to deallocate on exit just like the old days of malloc() and free().

Another way of dealing with this could a more fine-grained way of teardown that can be tailored to invoker-only stuff. I.e. if I had a regex for all ac

[2016-04-08 16:46] perryibm commented on #141
Option 3 from above was implemented successfully.  The code has been successfully merged.

There was a final tweak to fix the fact that there was a load balancer hot swap test that started an errant load balancer.  Removal of this test closes the loop.

[2016-04-08 16:46] #141 closed

[2016-04-08 21:58] domdom82 commented on #198
Take consul for example: If a server in the cluster gets terminated, it leaves the cluster and notifies the master about that. It doesn't just die and lets the others find out via timeout. Now of course a crash can still happen in which case RAS kicks in. However a graceful shutdown is also important.

[2016-04-12 07:35] domdom82 opened #202 "docker tag -f option is deprecated on docker 1.10"
see https://docs.docker.com/engine/deprecated/

`-f ` option is no longer needed.

This issue to track removal of the option.

[2016-04-14 06:26] #185 closed

[2016-04-14 07:35] fxulusoy commented on #20
I have discussed the issue with @rabbah. He proposed more general solution.

activation entity records can be divided into two parts: small constant size and unbounded size. logs, result object are examples of the latter. The other fields of an activation are finite and bounded
Default activation list should get and show a bounded part of each activation. activation list with a flag (include_docs)

[2016-04-14 07:36] lehoanganh commented on #103
already merger with issue #187, therefore closing this issue.

[2016-04-14 07:36] #103 closed

[2016-04-14 08:43] domdom82 opened #208 "Update documentation for ansible usage"
Currently we have two parallel ways of deploying OpenWhisk: ant and ansible.

Once we flip the switch and drop ant, we should have some documentation ready for the users and devs.

Doc should include:

- How ansible works
- How we apply ansible for deployment
- Playbook structure (environments, roles, modes, conventions on variables: a.b vs. a_b)
- How a user can adapt existing or create new envir

[2016-04-14 19:30] markusthoemmes commented on #73
Above list has been updated to include version pinning of docker

[2016-04-15 14:09] edshee opened #215 "Documentation typo in package tutorial"
openwhisk/docs/packages.md

Under **sharing a package** step 1.
`$ wsk package update sample --shared`
`ok: updated package sample`

should read 'custom' instead of 'sample' i.e.

`$ wsk package update custom --shared`
`ok: updated package custom`

[2016-04-15 18:45] sjfink opened #218 "pass the activationId in to the activation"
There are many scenarios where it's useful to have a unique id for an activation accessible at runtime.

The simplest scenario might be just printing debug log messages that we later want to correlate with activation records in whisk.

Proposal: pass the activationId to the activation.   Perhaps expose it in javascript via whisk.getActivationId().

[2016-04-15 19:04] mbehrendt commented on #218
i think this should be part of passing the full execution context (mem, name, etc) into an activation - the id being one field.

[2016-04-15 19:39] theophoric opened #219 "Proposal to change getPackageActions route"
Currently the route to retrieve a list of actions associated with a given namespace and package is `/namespaces/{namespaceName}/actions/{packageName}/`.  This is confusingly similar to the route for retrieving an action `/namespaces/{namespaceName}/actions/{actionName}`.  I propose that the route for getting a list of actions associated with a package be changed to `/namespaces/{namespaceName}/act

[2016-04-15 21:06] rabbah commented on #215
Fixed with #216.

[2016-04-15 21:06] #215 closed

[2016-04-15 22:12] tareqmamari opened #220 "update an entity which is not exist"
CLI successfully updated entities which are in fact not exist at all,

e.g.
[code]

I think it should raise an error instead, shouldn't it ?

This apply to all other entities, besides, I could update an action with passing no parameters (e.g. code file) , is that right ?
e.g.
[code]

[2016-04-15 22:19] rabbah commented on #220
Both the `create` and `update` operation are PUT operations on their respective collection. The API guards the former so that an overwrite flag is required to update an entity if it already exists. This flag `?overwrite=true` is provided by the `update` operation. Hence the semantics of `update` is to create if entity does not exist else to update it. This is operating as designed.

[2016-04-15 22:26] tareqmamari commented on #220
It is clear to me now, thanks Rabbah

[2016-04-16 00:10] #220 closed

[2016-04-16 01:32] theophoric commented on #219
As a corollary to this creating an action in the context of a package could be done through `[POST] /namespaces/{namespaceName}/packages/{packageName}/actions`

[2016-04-16 08:10] l2fprod commented on #20
@fxulusoy: makes sense. eager to see more info on activation list. thanks!

[2016-04-17 11:58] #2 closed

[2016-04-17 13:34] jeremiaswerner opened #222 "Move to docker 1.11"
OpenWhisk is not deploying on docker 1.11 because docker now checks for a valid hostname syntax on `docker run -h <hostname>`. Today whisk deploys all components by using `hostname = <containername>_<hostname>:<port>`.

[2016-04-18 17:09] #197 closed

[2016-04-18 18:18] csantanapr opened #225 "document the environment variable WSK_CONFIG_FILE for wsk CLI"
Document `WSK_CONFIG_FILE` for CLI

if env variable doesn't exist $HOME/.wskprops is used

[2016-04-18 18:24] csantanapr opened #226 "document that default api host"
If using the wsk CLI that you downloaded from https://new-console.ng.bluemix.net/openwhisk/cli/download
and set the api host to a vagrant to go back to use bluemix do the following:

1. unset apihost
`wsk property unset --apihost`

2. set apihost to bluemix host
`wsk property set --apihost openwhisk.ng.bluemix.net`

If you are using the wsk from the repository, like inside vagrant default is not `

[2016-04-18 19:55] sjfink commented on #73
I needed ```brew install python``` on a new Mac.

[2016-04-19 02:41] rabbah commented on #219
Actions that are not in an explicitly named package are considered part of the `default` package. In this way, we can consider unifying the packages and actions API endpoints in this way `/namespaces/{namespaceName}/packages/{packageName}/actions/{actionName}` and reserve the package name `default`. In fact, we can take this further and eschew the packages endpoints all together, unifying the enti

[2016-04-19 02:43] rabbah commented on #152
Is this still an issue?

[2016-04-19 02:43] rabbah commented on #127
Did yo manage to invoke the action?

[2016-04-19 09:19] Samze opened #229 "Allow referring to activations by shorter hash ids"
I would like to be able to refer to an activation id without having to specify the full hash. It would be great to support this the way Docker does, allowing a short name if possible - like this.

[code]

[2016-04-19 15:18] sjfink commented on #73
I also found the following to be helpful:
[code]

[2016-04-20 21:25] csantanapr opened #239 "confusing error message on trying to create rule with shared action"
Trying this in the CLI

[code]

In `wsk rule create name trigger action` trigger or action can't be private
User needs to copy the action to his space like

[code]

CLI error should be more clear about this and the [docs](https://github.com/openwhisk/openwhisk/blob/master/docs/triggers_rules.md#using-rules-to-associate-triggers-and-actions) should be updated to reflect this

[2016-04-20 21:31] csantanapr opened #240 "Update github package webhook trigger with sample output"
Update the docs in [catalog](https://github.com/openwhisk/openwhisk/blob/master/docs/catalog.md#using-the-github-package)

To add a sample JSON object what the trigger emits like
[code]

[2016-04-20 21:34] rabbah commented on #239
The trigger and action that make a rule must be in the default package, which is in fact *private*. The docs should state this, you are right, and the API/CLI should report a better error message.

We plan to relax the noted constraint so that you can create a rule using an action in a package.

[2016-04-21 13:42] cjolif opened #241 "issue in swagger with TriggerLimits"
"TriggerLimits": {
            "description": "Limits on a specific trigger"
        },

I think it should have "type": "object" as it apparently returns arbitrary json?

[2016-04-21 13:45] cjolif commented on #241
reference: https://github.com/openwhisk/openwhisk/blob/master/core/controller/src/resources/whiskswagger.json

[2016-04-21 13:54] markusthoemmes commented on #241
Thanks for catching you're absolutely right

[2016-04-21 16:34] sjfink commented on #152
this seems like a common-ish failure pattern -- I suggest we start a "Troubleshooting" doc, starting with this failure symptom.

[2016-04-21 16:35] sjfink commented on #127
another candidate for hypothetical Troubleshooting.md

[2016-04-21 16:39] sjfink commented on #80
Is this resolved?  Is there documentation missing?

[2016-04-21 19:38] #241 closed

[2016-04-21 19:48] sjfink opened #245 "remove endTime from trigger activation records"
It would be nice to be able to simply determine that an activation record in cloudant represents a trigger and not an action.

As discussed with @rabbah , I propose that the endTime attribute be elided from trigger activation records.

This is logically (though not structurally) a schema-breaking change.   I think only reporting code would be affected, and this code is not yet written.

[2016-04-22 11:00] iainduncani commented on #80
I'm not sure if I'm the right person to answer that question @sjfink but I'd make a few comments as a novice user:
1. I found it odd that when I created an action the default namespace that it put my action in (iain.duncan@uk.ibm.com_iainduncani) was different to the default namespace that it used to look for an action to execute (iain.duncan@uk.ibm.com).
2. There is no discussion of the namespace

[2016-04-22 18:18] sjfink commented on #80
OK, so it seems the main TODOs are to improve the documentation around these cases.

Thanks, Ian.

[2016-04-23 12:19] rabbah commented on #245
Should also do this for a rule activation.

[2016-04-23 14:38] mbehrendt opened #251 "improve error msg for sequence activations"
when one activation within a sequence fails, then today the error msg in the sequence activation should include the id of the activation that caused it to fail, to simplify debugging and make it more intuitive.

[2016-04-23 15:19] rabbah opened #252 "properly handle unicode characters"
The decoding is localized to reading records from the database (on the client side) which is normalizing to the HTTP default charset ISO-8859-1 instead of UTF-8.

As a sanity check, I confirmed that for a sample code:

[code]

The record is stored correctly in the database. If I were to encode the string using base64 encoding and logging the result, the activation result and logs are correctly sto

[2016-04-23 17:54] jeremiaswerner opened #253 "Fix invoker to survive reboots"
we noticed that the invoker did not restart with automatically after a VM reboot. we do set the docker.restart.opts for each container so we should do for invoker as well.

when doing this, it's important that the invoker also recovers the numbers that are required for the calculation of the queue. we see that the loadbalancer is out of sync when the invoker restarts.

[2016-04-24 22:52] stevenatkin commented on #252
Can we just normalize to UTF-8 instead of ISO8859-1. Until this is fixed it will be difficult for anyone to use OpenWhisk in anything other than English.

[2016-04-25 00:30] rabbah opened #254 "move large entity components to attachments and split control and data planes"
Currently, the back plane conflates control and data concerns by sending both types of messages over the same bus. The requirements for each of these are different and as such, the back plane should be split to allow small control message to flow over a different bus than large data messages. Examples of the latter include executable archives, activation arguments, activation results, and activati

[2016-04-25 08:35] domdom82 commented on #202
Assigning to @jeremiaswerner with the docker 1.11 work

[2016-04-25 19:26] ioana-blue opened #258 "Difference in output for successful/unsuccessful blocking activations"
I've noticed that the output for successful/unsuccessful blocking activations is quite different. In the case of successful activations, the return object is printed. In the case of unsuccessful activations, there is more information provided, including the start/end times for the activation and the logs.

I found the logs very useful when playing around and experimenting with actions/activations

[2016-04-25 20:33] rabbah commented on #258
The result of an activation is an activation record - always - if the response code is `200`. Can you give more details on what you mean by "successful/unsuccessful" and how you are invoke the action?

[2016-04-26 03:33] rabbah opened #260 "travis continues to deploy when build fails"
See for example https://s3.amazonaws.com/archive.travis-ci.org/jobs/125733067/log.txt

[code]
and then

[code]

further on

[code]

and even though it did not deploy properly, it continues to run the tests.

[2016-04-26 07:45] domdom82 commented on #260
had the same problem with ansible tests.

a `&&` in the script should do the trick. lemme try that real quick.

[2016-04-26 11:21] cjolif opened #262 "Missing "type": "object" in Swagger definition for KeyValue.value"
https://github.com/openwhisk/openwhisk/blob/master/core/controller/src/resources/whiskswagger.json#L1379

This is similar issue to #241

[2016-04-26 12:30] #260 closed

[2016-04-26 14:04] ioana-blue commented on #258
`wsk invoke --blocking <action-name>` if the response code is 200, the result of the activation is printed, but not its logs. if the response code is different than 200, the start/end timestamps + the logs get printed. what I care about is logs when the response code is 200.

I have to note that this is cod run by a new python action that I'm adding. If I need to do anything special to get the log

[2016-04-26 15:18] rabbah commented on #258
The API response is the same. The CLI, when you run with `--blocking`, in addition to printing the activation id as with non-blocking activations, will also project the result. If you want the full activation record or just the logs, of course you can get it by its id.

[2016-04-26 16:15] cjolif opened #265 "Inconsistent return value for PUT on action between Swagger and implementation"
According to the Swagger file, when PUT is called on an action it returns an ItemId.

see: https://github.com/openwhisk/openwhisk/blob/master/core/controller/src/resources/whiskswagger.json#L285

In practice if the action already exist it seems to fail (i.e. not update possible) and if the action does not already exist it creates it (expected) but does not return an itemId but the full action.

[2016-04-26 19:11] markusthoemmes opened #268 "Add ws and socket.io-client to nodejs image"
As pointed out in this [stackoverflow question](http://stackoverflow.com/questions/36834130/openwhisk-socket-io-client-possible) it could be a very common usecase to push to a websocket via an action. We should add at least [ws](https://www.npmjs.com/package/ws) and [socket.io-client](https://www.npmjs.com/package/socket.io-client) (the socket.io package, which is already included doesn't seem to

[2016-04-27 10:52] cjolif commented on #262
Actually thinking more about it, it seems the value is not necessarily a JSON "object" but can be an integer or any JSON "value". So maybe adding "type": "object" is not the correct fix here.

[2016-04-27 12:18] rabbah commented on #262
Indeed - a legal value for a parameter or annotation is any legal JSON value: object, array, number, string, boolean or null.

[2016-04-27 12:28] rabbah opened #270 "update swagger and add schema validation tests"
The swagger doc has some inconsistencies with the API and the test coverage for schema validation is low. The controller unit tests can be extended to perform the schema validation. Any tests that fails to validate against the existing swagger will require an update to the `whiskswagger.json`.

[2016-04-27 12:29] joachimvaldez opened #271 "Add "icon" attribute for packages"
@starpit: There should be an "icon" attribute at the package-level for packages Watson, cloudant, git, weather, etc. This will help the UI quite a bit.
I think this can be done by adding an href icon attribute we can link to when we install the packages in installWatson.sh, installWeather.sh, etc.

[2016-04-27 13:07] starpit commented on #271
at some point, we may also want to consider per-action icons. e.g. Watson seems to have a TTS icon: http://www.ibm.com/cloud-computing/bluemix/watson/

[2016-04-27 13:12] starpit commented on #271
i suggest that we start with hrefs to externally hosted icons. later, we may consider that these are part of the package bundle itself, i.e. hosted by openwhisk, though still presented as hrefs to clients.

[2016-04-27 13:13] starpit commented on #271
@joachimvaldez has suggested this icon for Watson
![](https://developer.ibm.com/bluemix/wp-content/uploads/sites/20/2014/10/watsonLogo.png)

[2016-04-27 13:15] starpit commented on #271
we also may want to distinguish "icons" into two separate fields:

1. branding: large-scale iconography, that may e.g. include the company trademark
2. inline icons: small-scale iconography that can be used alongside entity listings, etc.

for example, for cloudant, a "branding" attribute might be data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAdEAAABsCAMAAAACPni2AAAA3lBMVEX///8ALHdyx+b///4ALHYAKnZ

[2016-04-27 13:28] tverilytt opened #272 "Support for Trigger filters"
Hi!
In some scenarios it would have been handy and practical to be able to specify a filter for a Trigger. The filter could have been passed on to the Feed creating the Trigger. And then the trigger fires only if the filter condition(s) is satisfied.

In a scenario I am having now, I do many concurrent (bulk) upcerts to a Cloudant ddatabase. My OpenWhisk changes feed fires the Trigger for every si

[2016-04-27 16:04] paulcastro opened #273 "Prelim work on Swift 3 support"
Swift 3 will bring a lot of changes and we should start investigating the current Swift 3 development releases to make sure we're ready. This can be committed to an issue branch for now

[2016-04-27 16:09] paulcastro commented on #273
Configuring the docker image to use Swift 3 will require changes to the Dockerfile as well as the epilogue.swift file which adds serialization support currently not in Foundation.  Due to some restrictions in Swift 3, we also have to explicitly name the parameter field for a Swift action, e.g. require that it be called "args", rather than leave the name up to the developer.

[2016-04-27 20:15] sjfink commented on #17
For various business reasons, we need to have some preliminary support for multiple versions of a runtime very soon.    In particular, we need to support both "Swift 2.2" and "Swift 3" ASAP.   The issues will be similar for "Node 4" etc.

I propose the following plan to implement this support.   This plan makes no changes to the API but will introduce a new flag in the CLI.

The basic strategy is

[2016-04-27 20:23] perryibm commented on #17
Fine with me but to confirm.....

In both the short-term and medium-term of the proposal, the invoker will pull a distinct image from our registry for each runtime (or runtime + version).  The use of dockerhub registry for creating our images is a build-time step detail for how things get into our registry.

[2016-04-27 20:34] markusthoemmes commented on #17
+1 as it's the most predictable approach.

Need to keep in mind semantic versioning though. In which granularity do we update? That's probably dependent on the runtime itself.

* **node.js < 0** for example i would nail them to the minor version (nodejs0.12 for example).
* **node.js > 4** though, i'ld go for just major version (nodejs4, nodejs5, nodejs6)

A parseable naming-approach would be good

[2016-04-28 17:41] csantanapr commented on #17
FYI: a build of node6 it's out and will become LTS in Oct/2016

[2016-04-28 18:12] domdom82 commented on #17
The short-term solution is fine with me.

We will eventually have the discussion about supported packages on the runtime though.
Also keep in mind that we will have versions on the packages, too. So you can have the same node version but with different versions of express, request or other npm packages.

On CloudFoundry we have the notion of package.json descriptors that pull the required packages

[2016-04-28 20:22] ioana-blue opened #278 "Documentation for the Alarms package"
The documentation for the Alarms package seems incomplete and somewhat non-intuitive.

To find some information about the package, one can type:
[code]

Some information follows (indentation seems off):
[code]

To find more information about the alarm feed, I would expect to type:
[code]
 which doesn't seem to work. Replacing `feed` with  `action` seems to produce some information, but it seems in

[2016-04-28 20:44] csantanapr opened #279 "activation details should have duration"
[code]

[code]

[2016-04-28 20:47] csantanapr opened #280 "docs should be clear on how to update docker actions"
The docs should make it clear to the user that in addition of re-building and re-pushing the docker image, it also need to run `wsk action update` to make the system fetch the new image, and any new invocation to start using the new image and not a warm image with the old code.

[2016-04-29 13:25] csantanapr opened #282 "Epic: Tutorial and samples parity with Swift - Umbrella"
This is an umbrella issues to capture all the requirements/issues

This Swift actions need to be able to run on Swift 2.2 which is the current runtime supported in openwhisk

- [ ] #188 Add catalog actions for swift to have parity with nodejs current in [catalog/samples](https://github.com/openwhisk/openwhisk/tree/master/catalog/samples)
- [ ]  #284 Add catalog actions for swift to have parity wit

[2016-04-29 13:27] csantanapr commented on #188
Here is propose list:

- [ ] countdown.swift
- [ ] curl.swift
- [ ] echo.swift
- [ ] greeting.swift
- [ ] helloAsync.swift
- [ ] printParams.swift
- [ ] wc.swift
- [ ] wcbin.swift

[2016-04-29 13:33] csantanapr opened #283 "Add swift actions to have parity with nodejs current in catalog/slack"
Add catalog actions for swift to have parity with nodejs current in [catalog/slack](https://github.com/openwhisk/openwhisk/tree/master/catalog/slack)

Implement
- [ ] slack/post.swift

[2016-04-29 13:46] bjustin-ibm commented on #282
@csantanapr we're going to need some details about what is currently in the Swift runtime. Language version, available frameworks, etc.

[2016-04-29 13:51] csantanapr commented on #282
@bjustin-ibm Yep, what we have today is swift 2.2 is listed in the docs, and you get default frameworks.

@paulcastro is driving to move to swift 3 and have some frameworks pre-installed in the runtime, like a kitura components to be able to do http/networking, and any other one that we need to add for the samples

I think we can start working on the simple actions like greetings that don't requir

[2016-04-29 13:52] rabbah commented on #282
should take the opportunity to clean up the catalog and samples and rename some of those files as well (can you tell what is `wcbin`'s purpose is - without looking at its code).

[2016-04-29 14:00] csantanapr commented on #188
FYI: Feedback from @rabbah on cleaning up file names like wcbin
https://github.com/openwhisk/openwhisk/issues/282#issuecomment-215720288

[2016-04-29 14:00] paulcastro commented on #282
Just to confirm, as a stop-gap I'm looking into installing KituraNet as a framework to do network calls for Swift actions.  I already have an image for Swift 3.

[2016-04-29 14:19] csantanapr opened #284 "Add actions for swift to have parity with nodejs current in catalog/utils"
Add catalog actions for swift to have parity with nodejs current in [catalog/utils](https://github.com/openwhisk/openwhisk/tree/master/catalog/utils)

- [ ] cat.swift
- [ ] date.swift
- [ ] head.swift
- [ ] pipe.swift
- [ ] sort.swift

[2016-04-29 14:27] csantanapr commented on #282
@paulcastro the stop-gap is for swift 2? I think we should just go forward with Swift 3 if you already have it ready and not bother with Swift 2, team can use a docker image for develop the new swift actions

[2016-04-29 14:32] csantanapr commented on #282
I think we should will skip [github/webhook.swift](https://github.com/openwhisk/openwhisk/blob/master/catalog/github/webhook.js) for now.
Since it's just a provider to setup the trigger to be invoke via webhook, and not an example the user will copy and modify to adjust to his need.
What others think?

[2016-04-29 14:35] csantanapr opened #285 "Add catalog actions for swift to have parity with nodejs current in catalog/watson"
Add catalog actions for swift to have parity with nodejs current in [catalog/watson](https://github.com/openwhisk/openwhisk/tree/master/catalog/watson)

- [ ] translate.swift
- [ ] languageId.swift

[2016-04-29 14:41] csantanapr opened #286 "Add catalog actions for swift to have parity with nodejs current in [catalog/weather]"
Add catalog actions for swift to have parity with nodejs current in [catalog/weather](https://github.com/openwhisk/openwhisk/tree/master/catalog/weather)

- [ ]  forecast.swift

Using the new implementation that @nwspeete-ibm  is doing in nodejs with the IBM Weather Insights using twcweather

Do not do pollen, since there is no way to get a api key for get pollen with the current nodejs implementa

[2016-04-29 15:03] sjfink commented on #286
I recommend we do not do this.   My reasons are twofold: 1) I don't want to have 2 weather action implementations to maintain, and 2) it will be a long time before Swift supports networking needed to implement this.

I recommend closing as "won't fix".

[2016-04-29 15:05] sjfink commented on #285
I recommend we do not do this.   My reasons are twofold: 1) I don't want to have 2 watson implementations to maintain, and 2) it will be a long time before Swift supports networking needed to implement this.

I recommend closing as "won't fix".

[2016-04-29 15:05] sjfink commented on #283
I recommend we do not do this.   My reasons are twofold: 1) I don't want to have 2 slack  implementations to maintain, and 2) it will be a long time before Swift supports networking needed to implement this.

I recommend closing as "won't fix".

[2016-04-29 15:07] sjfink commented on #284
Since these are small, self-contained actions, I think it's reasonable to implement them in swift as tutorial examples.

[2016-04-29 15:08] #286 closed

[2016-04-29 15:08] #285 closed

[2016-04-29 15:08] #283 closed

[2016-04-29 15:26] sjfink commented on #279
I believe the duration is end - start, both of which are present above.

[2016-04-29 15:29] mbehrendt commented on #279
1) both start and end should be in a human-readable format
2) we should include a field on duration, so users don't have to calculate it manually

[2016-04-29 15:36] paulcastro commented on #282
The stopgap requires Swift 3, but that version of Swift does not have stable APIs yet.  I'd recommend keeping Swift 2 as our default and only moving to Swift 3 when it is stable.

[2016-04-29 15:57] rabbah commented on #279
There's a difference between what we record and then how/what we make easier for the user to consume. This can be solved entirely in the CLI for example to mimic the UI.

[2016-04-29 16:27] ChrBi opened #287 "Normalize log-markers"
As discussed this afternoon, the log markers will be changed.

At the moment we have:
`controller_create_activation`and `controller_activation_end`
To process these statements smoothly I’d suggest to change them to:
`component.action.state`. E.g. `controller_activation_start` or `controller_activation_end`
I’d also suggest to use always the same keywords for the state:
`start`, `end`, `error`
At l

[2016-04-29 18:07] sjfink commented on #279
agreed.  It's an API not a UI.

[2016-04-29 18:41] mbehrendt commented on #279
i think it's cumbersome for api clients having to do the math by themselves. we'll need to calculate the duration anyway server-side, for audit and billing purposes, so should expose that record via the api.

additionally, implementing it in the various clients one by one is likely going to result in inconsistencies.

[2016-04-29 21:36] paulcastro opened #289 "Add KituraNet to Swift3 runtime container"
Swift on Linux doesn't support NSURLSession in Foundation yet.  As a workaround, we can use the KituraNet library to make network calls in Swift 3 actions.

[2016-04-29 21:37] paulcastro commented on #289
I've updated the Docker container in #273 to load lib dispatch and KituraNet.  The python proxy still needs to be updated

[2016-04-30 08:20] nauerz-ibm opened #290 "Document pip pre-req/version for troubleshooting"
Error I get is:

[code]

[2016-04-30 08:22] nauerz-ibm opened #291 "Cannot set apihost via CLI"
Error I get is:

[code]

[2016-04-30 08:24] nauerz-ibm opened #292 "Cannot install via Vagrant (latest version) under Windows even though this is supposed to work per documentation"
Per documentation:
https://github.com/openwhisk/openwhisk#vagrant-users-for-mac-and-windows

Some guys from development told me Vagrant under Windows would not be supported; but if this is the case I wonder the documentation tells something different?

Error I get is:

[code]

[2016-04-30 08:26] nauerz-ibm opened #293 "ant clean build deploy needs to be run several times until it succeeds"
Yes, I know that this is even documented, but due to the fact that the entire process fails multiple times until it succeeds it takes hours to go through the setup process; this is unacceptable from a user-experience point of view. We need to improve.

[2016-04-30 08:28] nauerz-ibm opened #294 "Request to restart machine when installing under Ubuntu is not documented"
@markusthoemmes mentioned that one has to restart the machine after having followed the instructions here: https://github.com/openwhisk/openwhisk#ubuntu-users

Is this really the case?
If so, the documentation needs to be updated accordingly.

[2016-04-30 08:35] andreasnauerz opened #295 "Add support for Ubuntu 16.04"
I have been told that we do not yet support Ubuntu 16.04.
If this is really the case this should be fixed as 16.04 is out since quite a while and more and more people will switch over from 14.04 to 16.04.

[2016-04-30 08:46] nauerz-ibm commented on #290
Here is what it fixed it for me:

[code]

[2016-04-30 08:55] nauerz-ibm opened #296 "Invoking actions via the CLI leads to connection refused errors"
Error I get:

[code]

[2016-04-30 13:11] rabbah commented on #291
@nauerz-ibm `wsk property  get --cliversion` please.

[2016-04-30 13:16] rabbah commented on #292
@nauerz-ibm This seems like a Vagrant issue specific to your Windows machine, see https://www.virtualbox.org/ticket/15019.  The instructions assume you can run a Vagrant machine on your native host.

[2016-04-30 13:19] rabbah commented on #293
Did you try this tip from the docs?

**Tip:** By default, each docker command will timeout after 240 seconds (4 minutes). If you're on a really slow connection, this might be too short. You can modify the timeout value in docker.gradle as needed.

[2016-04-30 13:22] rabbah commented on #290
This issue is not specific to openwhisk. We don't document how to upgrade the CLI from an external source. We are transitioning to a go CLI in #238 and I am inclined to close this as won't fix in openwhisk.

@starpit perhaps a troubleshooting tip is useful in CLI configuration page from the UI.

[2016-04-30 13:25] rabbah commented on #296
Assuming you are running against a local deployment, your deployment is actually not up. This may be a duplicate of https://github.com/openwhisk/openwhisk/issues/31#issuecomment-190015793.

[2016-04-30 13:27] rabbah commented on #294
@nauerz-ibm my understanding is that you are on a virtual box VM not a native ubuntu. Is that correct?

[2016-04-30 23:43] nauerz-ibm commented on #294
That is correct.
@markusthoemmes said that a restart is necessary after the above mentioned steps - and indeed the restart helped to circumvent some initial issues. So if it is required we should update the doc.

[2016-04-30 23:46] nauerz-ibm commented on #293
I just tried rerunning the process by over and over again running ant build - that is what the documentation suggests, too:

Even though that finally worked and even though your proposal may help a bit, too, I think we need to improve to provide a much better user-experience (I know you guys are working hard... maybe this is something Matt & team can work on that)...

[2016-04-30 23:49] nauerz-ibm commented on #296
Indeed this looks like the same issue.
What I wonder is: Why is that happening even though I followed the instructions step by step?

Proposal: Let me see if I can reproduce the issue tomorrow after having properly cleaned-up everything. Maybe I tried too many different things finally leading to a totally screwed system.

[2016-04-30 23:51] nauerz-ibm commented on #290
I am fine with closing as this indeed seems to be a python/pip related thing; I found the answer on stackoverflow where people ended-up in similar scenarios not having anything to do with OW at all.

[2016-04-30 23:53] nauerz-ibm commented on #291
I've already cleaned-up my previous system.
But I used the latest version (downloaded it yesterday) from openwhisk/bin.

[2016-04-30 23:53] nauerz-ibm commented on #292
Will try again tomorrow after having cleaned-up everything; will report the results here.

[2016-05-01 21:50] domdom82 commented on #291
I think I know this one:

https://github.com/openwhisk/openwhisk/blob/master/tools/cli/wsk#L69

It says
[code]

but it should say

[code]

because we want to set the apihost.

[2016-05-01 23:04] rabbah commented on #291
you're right @domdom82 - our test doesn't cover the case of a broken CLI build. If the `default.props` wasn't configured during the build, it will surface this bug.

[2016-05-02 15:06] #291 closed

[2016-05-02 15:40] fabdslv commented on #265
Actually, this is true for the following requests :

- updateAction
- updateTrigger
- updateRule
- updatePackages
- setRuleState

Also, return type is defined as "DeletedItem" for DELETE requests but this model is not defined in the Swagger file (it only has a description), while the API is returning the deleted object.

[2016-05-02 15:42] rabbah commented on #265
Cross linking to #270.

[2016-05-02 20:39] csantanapr opened #302 "Not all samples are getting installed"
@starpit brought up that not all samples are getting installed from the [catalog/installSystem.sh](https://github.com/openwhisk/openwhisk/blob/master/catalog/installSystem.sh)

The following samples are not getting installed:
countdown.js (improve) see https://github.com/openwhisk/openwhisk/issues/302#issuecomment-216588113 for more details
curl.js (rename and improve) see https://github.com/openw

[2016-05-02 20:45] sjfink commented on #302
couple of thoughts:
- all samples which are installed by default should have adequate tests.
- we probably don't need all of these.   Some (helloAsync, printParams, wcbin?) can probably be deleted instead.

[2016-05-02 20:46] rabbah commented on #302
`wcbin` is poorly named - it's an example of an action calling another action using a blocking invoke.
`countdown` shouldn't be in the catalog as is because is it not parametric to the namespace (see https://github.com/openwhisk/openwhisk/issues/80#issuecomment-206634585).

[2016-05-02 21:55] markusthoemmes commented on #302
Do we want to keep `curl.js`?

[2016-05-02 22:03] rabbah commented on #302
as an example of calling a "process"? But could use a better example than curl.

[2016-05-02 22:08] starpit commented on #302
one of the drivers for this is that the UI will now show the samples list front and center. so having a compelling list will become important pretty soon.

to me, "compelling" means:

1) high orthogonality; we have several very similar actions
2) super easy to use; no mystery API key
3) at least two languages?
4) at least some have to be not simple utility routines

Hello World in Javascript
Hello

[2016-05-03 16:38] csantanapr commented on #302
It looks like we need to do some clean up

- keep hello.js (Hello World in Javascript)

- keep hello.swift (Hello World in Swift) and installed it and add testing, this is related to #188 that @bjustin-ibm is looking into

- create new sample for js only (i.e. no swift) for weather forecast using yahoo plubic api that doesn't require api key same code as in the docs here https://github.com/openwhi

[2016-05-03 17:42] bjustin-ibm commented on #188
I feel like as samples (code we show to the customer to instruct them in the ways of OpenWhisk) a lot of these are so simple as to not provide much educational value.  For example, the differences between Hello, Echo, and WordCount do not provide _any_ clarity on what can be done by running this code on OpenWhisk - they are really just showing some very trivial things that can be done with the Swi

[2016-05-03 17:44] csantanapr commented on #188
@bjustin-ibm I remove some actions that we are not going to implement based on discussion from #302

- [ ] countdown.swift
We don't have whisk library for whisk.invoke
- curl.swift
We don't have whis.done or whisk.async

- helloAsync.swift
We are going to delete helloAync.js

- printParams.swift
We are going to delete printParams.js
- wcbin.swift
We are going to delete wcbin.js

[2016-05-03 17:51] csantanapr commented on #188
I agree with https://github.com/openwhisk/openwhisk/issues/188#issuecomment-216608142 we can start  by using Kitura-Net under the hood, developer doesn't need to know anything about the implementation, to invoke an action or fire a trigger from inside swift, it's just a whisk context object with these methods attached.
We can replace Kitura-Net with something else in the future and maintain the AP

[2016-05-03 18:32] sjfink commented on #188
I predict you'll find the kitura.net support is much more work and much uglier than you anticipate.   @paulcastro is implementing some user actions using kitura -- let's wait till we see these before we make any decisions.

[2016-05-03 18:59] animeshsingh opened #305 ""user 'vagrant' does not exist" message pops up even on a native Ubuntu install"
And this is not even a Vagrant VM.

[2016-05-03 19:09] csantanapr opened #306 "Remove dash "-" from table in reference.md"
Since "_" underscore can be use to denote the default namespace.
The following table in https://github.com/openwhisk/openwhisk/blob/master/docs/reference.md#fully-qualified-names

| Fully qualified name | Alias | Namespace | Package | Name |
| --- | --- | --- | --- | --- |
| `/whisk.system/cloudant/read` | - | `/whisk.system` | `cloudant` | `read` |
| `/myOrg/video/transcode` | `video/transcode` |

[2016-05-03 19:37] paulcastro commented on #188
I have a commit in my fork of openwhisk in branch "kituraRuntime" that has one example.  catalog/samples/helloSwift3.swift.  It uses KituraNet to make a "get" call and GCD to manage the async callback.  There are other patterns you could use in GCD that "may" work, depending on GCD implementation in Linux.

[2016-05-03 21:15] csantanapr opened #307 "document the use of `_` for default namespace"
Update docs to denote that the use of `_` underscore for namespace value is the same as using the default namespace which in bluemix is email (i.e. user@example.com) outside of bluemix will be the subject field
https://github.com/openwhisk/openwhisk/blob/master/docs/reference.md#namespaces-and-packages

[2016-05-03 21:28] csantanapr opened #309 "error installing ansible via pip"
Follow instructions in README to setup using Vagrant
Run (cd openwhisk/tools/ubuntu-setup && source all.sh)

[code]

[2016-05-03 21:58] csantanapr commented on #309
I have tried the following getting closer
[code]

[2016-05-03 22:50] domdom82 opened #311 "Continuously test vagrant ubuntu-setup"
In the past couple of days some installation attempts using vagrant have surfaced bugs:

https://github.com/openwhisk/openwhisk/issues/309
https://github.com/openwhisk/openwhisk/issues/305
https://github.com/openwhisk/openwhisk/issues/295
https://github.com/openwhisk/openwhisk/issues/294
https://github.com/openwhisk/openwhisk/issues/292

I propose (and volunteer) to write a test that does a vagran

[2016-05-04 09:18] nauerz-ibm commented on #296
Cannot reproduce this atm; let's close for now and reopen if it happens again.

[2016-05-04 09:18] #296 closed

[2016-05-04 09:20] andreasnauerz opened #312 "wsk rule list should show whether a rule is enabled or not"
wsk rule list should show whether a rule is enabled or not

[2016-05-04 09:22] nauerz-ibm opened #313 "wsk activation list should show timestamp of activation (even in a human readable format)"
wsk activation list should show timestamp of activation (even in a human readable format).
Not sure if this is a dup; if so, please close.

[2016-05-04 09:36] rabbah commented on #313
You mean `wsk activation list` - Why should a rule list show activations otherwise?

[2016-05-04 09:38] nauerz-ibm commented on #313
@rabbah Sorry, yes, copy & paste error :)

[2016-05-04 09:47] rabbah commented on #313
Duplicate of #279 and #20.

[2016-05-04 09:47] #313 closed

[2016-05-04 12:10] domdom82 opened #315 "Vagrantfile should not make assumption on "openwhisk" being the shared env name"
There is no reason to make the hard assumption that the parent directory of Vagrantfile is "openwhisk":

[code]
I suggest to change it to this:
[code]

it works pretty well if you cloned into a directory different than "openwhisk".

[2016-05-04 13:33] fabdslv opened #318 "In Swagger file, operationId is missing for activation logs and results"
```/namespaces/{namespace}/activations/{activationid}/logs``` and ```/namespaces/{namespace}/activations/{activation}/result``` GET requests should have an operationId in the Swagger file.

[2016-05-04 13:53] domdom82 commented on #311
Did run some tests on travis, findings so far:
- in theory, you can install virtualbox and vagrant on the travis container.
- you need to put these in travis.yml:
[code]
- problem A: travis timeout is going to bite us. the vagrant download takes about 25 mins. timeout is 50 mins. without forking this into a separate travis build, it is not going to work.
- problem B: our vagrant box requires a GUI

[2016-05-04 13:54] domdom82 commented on #311
@jeremiaswerner @markusthoemmes @sjfink @rabbah your thoughts?

[2016-05-04 14:14] rabbah opened #319 "plugable model for adding action language support"
As we add more language support (pending #16  and #308) - we should re-architect the language support so that it is not necessarily part of the openwhisk core and rather there is a plugable framework that allows others to add their runtime to openwhisk. Most of the language support is self-encapsulated but there are at least two points that should have extensible adapters: 1. the CLI and 2. the `W

[2016-05-04 14:18] rabbah commented on #311
really? the gui is optional and not installed by default.

[2016-05-04 14:28] csantanapr commented on #311
about problem B: No GUI is required, I'm using vagrant with no GUI.

I think using our jenkins will be the solution to test vagrant setup based on problem A and C

[2016-05-04 14:30] rabbah commented on #305
@domdom82 can you take this one?

[2016-05-04 14:33] sjfink commented on #311
brainstorm:   we have in my lab MacBook pros we can use as we like.

How about a "normal" jenkins build that runs the vagrant build on a MacOS slave?

[2016-05-04 14:38] rabbah commented on #318
Related to #270.

[2016-05-04 14:38] sjfink commented on #319
We should look at Cloud Foundry and Heroku build packs for inspiration.

[2016-05-04 14:58] domdom82 commented on #311
@csantanapr did you patch the Vagrantfile?
[code]

seems pretty hard-coded to me. Does it work ootb if you do not have a GUI? Did you set it to false on your env?

[2016-05-04 15:02] csantanapr opened #320 "Review and improve vagrant instructions for setup"
review the instructions in the README and improve

- Instructions jump from vagrant to ubuntu and some commands a different, it should be in one place
- Speed git clone using --depth=1 (should go from 43MB to 4MB) download
- update tip about allocating memory 4GB is reliable, 2GB is spotty

[2016-05-04 15:06] mrutkows commented on #319
This is a subject that intrigues me, a build pack approach was suggested "out-of-the-blue" at the CF meetup last week.  I have a follow scheduled with the person from Altoros, an IBM partner company.

[2016-05-04 15:07] mrutkows commented on #319
This is work I think my team would like to champion.

[2016-05-04 15:22] rabbah commented on #311
Ah - I am sure we can make this optional

[2016-05-04 15:26] domdom82 commented on #311
I would agree. The only benefit you get is when used in conjunction with ubuntu-desktop.

[2016-05-04 15:49] csantanapr commented on #311
@domdom82 I would leave vb.gui = true for users not have to change it if they want GUI, this way users just need to run the ubuntu-desktop script

I would assume that having vb.gui in jenkins slave would just be ignore and work, if you tested and it doesn't work then I think we just need to flip it to false dynamically when running the build in jenkins

[2016-05-04 15:50] jeremiaswerner opened #322 "Enhance the rule create/delete API to store the actions in the trigger object in cloudant"
step 1 to nuke activator

idea: store the list of actions and their status on the trigger object itself, something like:

[code]

[2016-05-04 15:50] rabbah commented on #311
It can be factored so that it can be overridden is the point - with a default of true to preserve current behavior. This is how `shared` works.

[2016-05-04 15:54] jeremiaswerner opened #323 "Enhance the rule enable/disable API to set the activated/deactivated flag of action in the trigger"
step 2 to nuke activator

idea: when enabling/disabling a rule we need to store the activated and deactivated flag for the action at the trigger object.

[code]

[2016-05-04 15:58] jeremiaswerner opened #324 "Enhance the trigger get API to list the actions that are associated with it"
step 3 to nuke activator

idea: we will return the list of actions that are associated with the trigger during GET trigger. That avoids a user to do additional queries to find actions associated with the trigger.

[2016-05-04 15:58] domdom82 commented on #311
we could make
[code]

[2016-05-04 16:01] jeremiaswerner opened #325 "Enhance the fire trigger API to invoke associated and enabled actions directly"
step 4 to nuke activator

idea: the controller will directly call the invoke action API without going through the activator. Therefore the controller will do the same internal call as direct 'invoke action' would do.

[2016-05-04 16:03] jeremiaswerner opened #326 "Remove the dependency of activator in controller/loadbalancer during activate/deactivate rule"
step 5 to nuke activator

idea: don't manage the state in the activator anymore and finally remove any flow to the activator. This is the final step to remove the activator.

[2016-05-04 16:05] jeremiaswerner opened #327 "Remove activator component"
step 6 to nuke activator

idea: remove all code, build and deployment dependencies
 - [ ] gradle
 - [ ] environment files
 - [ ] ansible + ant
 - [ ] source code

[2016-05-04 16:09] rabbah commented on #324
This is original to the overal goal. I suggest avoiding an API change and making it a required part of this goal.

[2016-05-04 16:35] domdom82 commented on #311
added option to disable GUI using
[code]

should we document this in readme? where?

[2016-05-04 17:25] csantanapr commented on #311
doc in the readme as a note, for headless systems that don't support GUI

[2016-05-04 17:29] csantanapr opened #328 "replace _design/subjects with _design/$DB_WHISK_AUTHS"
On this line subjects is harcoded https://github.com/openwhisk/openwhisk/blob/master/tools/db/createImmortalDBs.sh#L85

[code]

It should be _design/$DB_WHISK_AUTHS

[2016-05-04 18:48] csantanapr opened #330 "ant clean build deploy fails using vagrant"
I'm going thru the steps in vagran to validate instructions.

When I get to the point of doing `ant clean build deploy`
This fails none of the tips say anything about this failure.
There is one that says something about timeout
[code]

Is the error below because of timeout in docker.

Anyway tips on how can we make the this more reliable, either by adding retries, or configuring longer timeouts, e

[2016-05-04 19:26] csantanapr opened #331 "ant deploy fails on buildCLI, following vagrant workflow"
I'm not sure if this is a docker timeout problem, that needs to be increase more than 240s or that the docker host is dead

[code]

Error here
[code]

[2016-05-04 19:28] csantanapr commented on #330
Running `ant build` again fixed the problem, so it could be a docker timeout related but not sure.

[2016-05-04 19:29] rabbah commented on #331
It's not ideal that the CLI is built as part of deploy (@markusthoemmes will want to weigh in here) but there is a container build step in the current setup and this looks like it timed out also. I think this is related to your other issue - and perhaps bumping the default timeout across the board is best.

[2016-05-04 19:52] csantanapr commented on #331
@rabbah I ran `ant reploy` again and still failed
Then I did `docker ps` and I got the error Cannot connect to the Docker daemon. Is the docker daemon running on this host?

So I `logout` and `vagrant reload` and `vagrant ssh` and now docker host is running and `docker ps` worked.

So it looks like added a verifcation step in the README for the user to check that `docker ps` works before running `

[2016-05-04 20:07] rabbah commented on #331
If docker is not up `ant build` won't work either.

[2016-05-04 20:14] csantanapr commented on #331
@rabbah thanks I'm closing this issue since I'm going to handle in #321 by telling user to check if docker host is running before running `ant build`

[2016-05-04 20:14] #331 closed

[2016-05-04 20:16] csantanapr commented on #330
Handling in #321 with timeout tip

[2016-05-04 20:16] #330 closed

[2016-05-04 20:48] csantanapr opened #334 "setting wsk cli to use vagrant host error supplied authentication is not authorized"
Following the setup using vagrant.
Reach the point to use an external wsk cli to talk to openwhisk inside vagrant

Did this
$ wsk list
error: The supplied authentication is not authorized to access this resource (code 287)

[code]

[2016-05-04 20:54] rabbah commented on #334
you're using the wrong namespace - your clean setup not so clean ;)

`whisk namespace     csantana@us.ibm.com_dev`

suggest you remove property file.

[2016-05-04 21:00] csantanapr commented on #334
I notice when I compare both
[code]
[code]

[2016-05-04 21:01] csantanapr commented on #334
@rabbah But how do I do it with the CLI? trying to find what do we need to put in the README

[2016-05-04 21:02] rabbah commented on #334
`wsk property unset --namespace` would remove the namespace (and your command will work).
If you were starting from a clean box and following the instructions there would be no namespace (because there would be no property file).

For guest, the namespace would be (if you want to set it explicitly) `wsk property set --namespace guest`.

[2016-05-04 21:04] csantanapr commented on #334
So the `subject` name is "guest" then, right?

[2016-05-04 21:08] csantanapr commented on #334
I will close this one and fix with #321 by adding info in the README

[2016-05-04 21:08] #334 closed

[2016-05-04 21:12] starpit opened #335 "Feature Request: config api that specifies supported runtimes and limits"
would it be possible to expose a config API that

1) enumerates the supported runtimes
2) specifies the universe of limits, along with their default and hard-limit values

so that the UI doesn’t have to hard-code this info. also, this will allow backend updates to expand or restrict these options without requiring a front-end redeploy

e.g. openwhisk.ng.bluemix.net/api/v1/config

[2016-05-04 21:21] csantanapr opened #336 "Cloudant/CouchDB package should be available in open source"
Follow the instructions for vagrant in README

I see that cloudant and alarms package are missing. Why?

[code]

Also in the error message what does (code 448) (code 451) and (code 453) ?
If its an error code I would assume I see the same error code for the same command 448 !== 453

[2016-05-04 21:47] rabbah commented on #336
They are not in openwhisk.

[2016-05-04 21:55] csantanapr commented on #336
I think both will be useful to move to open.

1. alarms seems like a basic core component as a scheduler
2. cloudant, it seems to be focus on IBM Cloudant, but someone can take it as a base/example and create a package for CouchDB or another data store.

What do you think?

[2016-05-04 21:55] rabbah commented on #336
Yes. It's in plan.

[2016-05-04 22:19] csantanapr commented on #336
OK, I will hunt down those issues numbers and move to backlog

[2016-05-04 22:23] csantanapr commented on #319
We should also take inspiration on container definition, packaging and distribution , since at the end of the day main pack is a custom container with an API contract.

[2016-05-05 02:37] eljuanchosf opened #337 "error: The supplied authentication is invalid - Build failed when building in Ubuntu 14.04"
Running the buid on a Ubuntu 14.04 Vagrant image I have this issue, which is consitent every time I do `ant build run deploy`.

[code]

[2016-05-05 02:41] rabbah commented on #337
This error usually suggests that your backing datastore is not configured correctly (i.e., you did not install the required guest and admin credentials by running `createImmortalDBs.sh`). If you are using a couchdb instance that is not persisted, note that you have to run this script every time you deploy. The sequence is:

[code]

[2016-05-05 03:05] eljuanchosf commented on #337
Ok, so I have installed CouchDB in the same box. Then I run `createImmortalDBs.sh`. Output of that script is:

[code]

Which I think it is Ok, that I'm not seeing errors.
But when I do `ant deploy` I keep seeing the error I specified above.

[2016-05-05 03:34] rabbah commented on #337
In your Vagrant machine, try from the `openwhisk` directory:

`wsk action create hello catalog/samples/hello.js --auth $(cat config/keys/auth.whisk.system)`

If that fails, then the key installed in your CouchDB for `whisk.system` does not match - you can verify what that the key in the database

`wskadmin user get whisk.system`

matches what is in this [file](config/keys/auth.whisk.system).

[2016-05-05 03:46] eljuanchosf commented on #337
It is weird. Running the `hello.js` script fails, but the keys seems to match:

[code]

[2016-05-05 03:53] rabbah commented on #337
Do you have a `~/.wskprops` file?  One more thing to check (note use of `-v`):

[code]

Does the above match your setup?

[2016-05-05 03:58] rabbah commented on #337
I notice that the user name and password you use for the Couch instance are not the default values - I assume you updated the generate couchdb-local.env file accordingly.

[2016-05-05 10:12] markusthoemmes commented on #337
Also keep in mind, that everytime you run `ant clean` the whole docker daemon is cleaned up including the couchDB instance. That means: after each `clean` you need to redeploy couchdb and create the immortal databases.

[2016-05-05 13:31] mrutkows commented on #208
I've subscribed since we have several blogs (besides READMEs) that we may need to update that reference ant...

[2016-05-05 16:34] eljuanchosf commented on #337
@rabbah I don't have a `.wskprops` file in my home.
Yes, I did change the username and password in the `couchdb-local.env`.
@markusthoemmes I did followed the steps, except for the `tools/db/couchdb/start-couchdb-box.sh whisk_admin some_passw0rd`, since I have CouchDB installed permanently in my box.

[2016-05-05 17:29] csantanapr opened #340 "Update reference doc with action source code and parameters size limit"
[Reference](https://github.com/openwhisk/openwhisk/blob/master/docs/reference.md#system-limits) is missing the following limits:

When creating or updating an action payload can't be larger than 1MB
Any activations (i.e. invoke action or fire a trigger) the payload can't be larger than 1MB

For is suggested that they use a tool concatenate all source code including dependencies into a single file

[2016-05-05 19:00] csantanapr opened #342 "Document files and process limits for docker actions"
Update [System Limits](https://github.com/openwhisk/openwhisk/blob/master/docs/reference.md#system-limits) with docker limits
[code]
Above info comes from : https://github.com/openwhisk/openwhisk/blob/master/core/dispatcher/src/whisk/core/container/ContainerUtils.scala#L71

Any other to document @rabbah @perryibm ?

[2016-05-05 19:02] perryibm commented on #342
Those are the only global ones for now.  Of course there is memory and cpu limits but those are action-specific.

[2016-05-05 21:51] csantanapr opened #343 "Improve vagrant experience by updating settings in Vagranfile"
- Look into using vagrant provision to automate the steps to install git, clone, and run all.sh
- update vagrantfile to allocate less CPUs than 8, maybe 4 or 2

[2016-05-05 22:15] rabbah commented on #343
Note that in shared mode the provisioning is automatic.

[2016-05-06 03:23] csantanapr commented on #342
Thanks @perryibm for the feedback

[2016-05-06 03:40] #337 closed

[2016-05-06 03:42] eljuanchosf commented on #337
There is no issue after all. The problem was with the name of the database host. I'll create a PR with the "workaround" in the README.

[2016-05-06 07:46] nauerz-ibm opened #345 "Make it easier to understand what a feed is"
Based on the latest labs/user studies we ran, it seems that people still have a lot of trouble with understanding what a feed is (cp. the feedback I have shared via mail already).

Quote: "_I do not really get what a feed is; all other concepts are easy to understand, but this feed thing puzzles me even though I saw it several times_"

Since I got similar feedback several times now, the question i

[2016-05-06 07:49] andreasnauerz opened #346 "Add better debugging/logging capabilities"
During the recent labs/user studies many people asked for better debugging/logging capabilities.

Hence, the question is what we can do to ease debugging/logging?
I think that we may partially be able to address this by adding filtering capabilities to the dashboard (as discussed in one of our previous calls); but probably even that isn't sufficient.

[2016-05-06 07:55] nauerz-ibm opened #348 "Allow for better error handling"
During the recent labs/user studies many people asked how they can add proper error handling to their actions.

Quote: "_I miss some better means  for error handling. How about patterns already existing in functional programming environments? How about something like this: http://fsharpforfunandprofit.com/posts/recipe-part2/ ?)_"

Hence, the question is: What can we do to address this?

[2016-05-06 07:56] nauerz-ibm opened #349 "Visualize how actions influence each other"
Details to be added.

[2016-05-06 07:58] andreasnauerz opened #350 "Provide a CLI command to get the URL needed to invoke a particular action"
Provide a CLI command to get the URL needed to invoke a particular action.

Example:
_Command_: wsk action create hello --api-url
_Response_: PUT https://irgendwo.auf.bluemix.net/api/v1/namespaces/meineid_dev/actions/hello

[2016-05-06 13:34] domdom82 commented on #350
I suggest to conflate this with API keys and rather

[code]

e.g.

[code]

Adding this feature without adding API keys first would always give out private information.

[2016-05-06 13:54] markusthoemmes commented on #350
The issue seems to be more around getting to know what exactly to send to our API to get to a specific result? If so, what about `wsk -v --dry wsk action create hello`? Where `--dry` just does a dry run and not sending the request.

[2016-05-06 14:29] paulcastro opened #351 "Update Swift3 runtime with 5-03 snapshot"
Bump up the Swift3 support to 5-03 for bug fixes, Kituranet compatibility,

[2016-05-06 16:26] rabbah opened #352 "Controller reports NotAuthorized rather than InternalError if it cannot connect to db"
While investigating #337, the controller logs showed that if there is a failure to connect to the `subjects` database, the controller rejects the request with a misleading NotAuthorized message. instead of an InternalServerSerror or a more informative message.

[2016-05-06 16:39] ioana-blue commented on #345
I was initially confused by "feed" as well and the relationship between feeds and triggers. I think we could benefit from a better terminology. So maybe we ask for some alternative names.

In my mind, "feed" is a trigger family or a trigger source. Not sure whether this type of names would add to the confusion, though, instead of clarifying things.

[2016-05-06 16:40] rabbah opened #353 "CLI action get should format source code nicely and allow export to file"
[code]

it would be useful to project code and pretty print it so that it is human readable && allow export to a file.

[2016-05-06 16:51] rabbah commented on #345
It's called feed, as in web feed. When a wsk user creates a trigger, they can subscribe to a feed such that new content (an event) from the feed results in a trigger activation.

[2016-05-06 16:54] sjfink commented on #345
Attempt 1 at definitions:

* an **event** is something that happens at runtime
* a **Trigger** is a name for a class of events.    It is similar to a "topic" in pub-sub systems.
* a **Feed** is an abstraction for a stream of events, all of which belong to a Trigger T.    A feed provides lifecycle operations _create_, _delete_, _pause_, and _resume_, via a whisk action interface.   The whisk system

[2016-05-06 16:56] nauerz-ibm commented on #345
@rabbah I think we all understand what it is and also the reason why we named it that way.
But imho that does not help if a significant amount of users do not get it and that is what the user studies/lab show :(

@ioana-blue I agree, another name may help as well but changing things others already got used too may be dangerous as well (not sure).

@sjfink Even though I understand what you are sayi

[2016-05-06 17:00] nauerz-ibm commented on #350
I must admit that I am not 100% sure how exactly the feedback has to be interpreted; but let me point Julian who gave this feedback to this issue here to clarify what he was/is looking for ;)

[2016-05-06 17:00] mbehrendt commented on #345
agree with @nauerz-ibm . while all these definitions are technically accurate, many people are struggling to understand them intuitively -- we should work on some simplification here (not a new topic :-) )

[2016-05-06 17:02] mbehrendt commented on #350
as mentioned in our e-mail exchange, i think it's as simple as 'give me the url i have to send an http msg to for invoking this action'

[2016-05-06 17:04] nauerz-ibm commented on #350
Yes, probably, but before I speculate I better ask the one who gave that feedback to clarify - does not cost a lot to ask to be 100% sure we got it the right way.

[2016-05-06 17:06] rabbah commented on #345
i'd like to understand why "people are struggling" because there could be many reasons (poor presentation, lack of proper definitions, no intuition given, etc.).

[2016-05-06 17:08] nauerz-ibm commented on #345
I can try to get more details.
What do you think about using concrete samples to explain the differences between our concepts and how to apply them?

[2016-05-06 17:09] rabbah commented on #345
there are several experiments we can do (perhaps as part of the user studies) to learn from and adapt.

[2016-05-06 17:10] sjfink commented on #345
@nauerz-ibm I agree we should write a doc which shows the definitions along with examples.

[2016-05-06 17:10] mbehrendt commented on #345
i don't think it's lack of proper definitions -- we have them, but they're i think too abstract / not intuitive enough. we should think about a way how to present the definitions in a more tangible / practical way

[2016-05-06 17:15] sjfink commented on #345
I don't know how to make the definitions above any simpler.

[2016-05-06 17:23] rabbah commented on #345
to @mbehrendt's point, we might need some examples to accompany the definitions (or analogies to RSS feeds for example - among others). this is why understanding what the issue really is matters.

[2016-05-06 17:29] nauerz-ibm commented on #345
So it seems we have an action plan:

- Reword the definitions to make them more intuitive (less "technical" != inaccurate)
- Accompany them with some simple samples to deepen understanding

Who volunteers to give this a 1st try? :)

[2016-05-06 17:40] mbehrendt commented on #345
i'll give it a try

[2016-05-06 17:42] domdom82 commented on #352
yep ran into that one a couple of times, too. rather confusing to the user. he thinks is credentials are wrong.

I suggest to return either 500 or 503 (service unavailable) if cloudant connection is the cause.

[2016-05-06 17:44] csantanapr commented on #343
Yep, being thinking on having multiple Vagran files
And have one that is super simple that just doing vagrant up get's a system up where wsk cli can be called and that's it one command setup. it will be using ephemeral couchdb but it will be for the first time use case I just want to try it out and that's it nothing else, what's the fastest way.
Talking to @bjustin-ibm he said easiest to get the w

[2016-05-06 17:49] rabbah commented on #343
A vagrant machine with just the CLI to avoid installing python on the host? With go CLI (or if we had distributed binaries for our current CLI), would you still want this?

I suppose you can provide a vagrant machine or a docker container with the CLI installed.

[2016-05-06 18:08] csantanapr commented on #343
Not a vagrant to just for the CLI a vagrant file `tools/vagrant/simple/Vagrantfile` for simple scenario with just 3 commands have openwhisk hello running

[code]

[code]
[code]

[2016-05-06 18:09] csantanapr commented on #343
And the most important piece `vagrant up` always works, docker doesn't timeout, ant build or deploy doesn't fail sometimes.

[2016-05-06 18:11] csantanapr commented on #343
Have this in the README.md, and for other use cases and combinations have links in the README to another md file or files

[2016-05-06 18:27] paulcastro commented on #351
Checking into adding SwiftyJSON package to image.

[2016-05-07 15:21] julicjung commented on #350
Hey there, the idea for the enhancement was actually quite simple:
For all commands which can be issued from the wsk CLI tool, provide an option --api-url which outputs the REST URL to run the same command. This is not limited to invoking actions but also creating triggers, enabling/disabling rules etc.
I know about the Swaggerfile, but since the wsk tool is so convenient users might find it helpf

[2016-05-07 15:27] mbehrendt commented on #350
wouldn't `wsk -v <command>` address this requirement?

[2016-05-07 15:36] julicjung commented on #350
Just tried it. The info is in there, so this would do. My understanding from trying --dry is that there is no dry run option (yet).
Although the output I had in mind would more resemble the one from --summary.
I also would not have expected that information behind a -v, purely based on the naming.

[2016-05-07 15:41] markusthoemmes commented on #350
`-v, --verbose` is used mainly as a debug measure, to really see what your CLI is doing (which is kind of what you want to achieve). A `--dry` option as suggested above would be convenient in that you wouldn't need to actually create, delete, invoke something to see which commands the CLI outputs.

While we do have a swagger documentation and all that, certain parts of the API are sugared by the C

[2016-05-07 15:48] julicjung commented on #350
And this is why I did not look for -v.
So one question would be is this information helpful enough to provide it on its own?
Another question which comes to my mind is that based on your comment there is some magic baked into the CLI, say, --sequence, for which it would not be readily obvious how to replicate it via REST calls?
In this case an --api-url flag could help understand what actually is

[2016-05-07 15:59] julicjung commented on #345
Just chipping in my 2 cents:
My understanding of a "feed" in whisk context is roughly "a stream of events".
I struggle a little with distinguishing this cleanly from the concept of a trigger and my mind came up with something like "a feed is a kind of configuration when triggers" get fired. Or is it more like an input channel through which my trigger gets repeatedly fired?

When I browsed the docs

[2016-05-07 16:34] rabbah commented on #345
We haven't described yet in the docs how to create your own feed.

[2016-05-08 11:03] tverilytt commented on #272
Maybe the CouchDB / Cloudant Design filter function for change feed can be utilized to specify desired filter function. Filter function can also take query parameter(s), which makes it easier to do more dynamic filtering "on demand"...

Filter functions

https://docs.cloudant.com/design_documents.html#filter-functions

Query parameters:
https://docs.cloudant.com/cloudant_query.html#query-parameter

[2016-05-08 11:12] markusthoemmes commented on #272
Ou, that looks very promising. Many thanks for digging that out @tverilytt . We should definitly look into integrating that.

[2016-05-09 07:49] domdom82 commented on #350
IMHO it should actually be the other way around. I have seen other APIs (read: OpenStack) become actually unusable without the CLI client because there were so many "hidden" fields and features used by the CLI that weren't documented or explained on API level. A REST API should be self-explanatory without the need for a particular client.

Granted, a -v option helps at first sight. For this very i

[2016-05-09 14:34] bjustin-ibm opened #362 "Swift action parsing doesn't tolerate special characters"
For example, if I try to run an action with the following code:

[code]

I always get an error of `the action did not produce a valid JSON response`

However, if I simply remove the `©` everything works as expected.

[2016-05-09 14:36] rabbah commented on #362
This may not be specific to Swift - see #252.

[2016-05-09 14:43] bjustin-ibm commented on #362
@rabbah That seems pretty likely. The Swift action file handling already is explicit about using UTF-8. I suggest keeping this open to verify that #252 actually fixes this specific symptom.

[2016-05-09 15:01] rabbah commented on #362
Your symptom is different - `the action did not produce a valid JSON response` suggests there was a failure executing the action (I would check the proxy for example to confirm it returned the correct value). The defect from 252 will manifest differently (the activation record will show a different result value).

[2016-05-09 15:53] csantanapr opened #363 "add voice2text action to catalog"
We could use as an example the Watson API

related #277

blue_#1677

[2016-05-09 16:00] csantanapr opened #364 "add text2voice action to catalog"
We could use as an example the Watson API

[2016-05-09 16:10] csantanapr opened #365 "Question&Answer (Dialog) package"
We could use as an example the [Watson Dialog API](http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/dialog.html)

[2016-05-09 17:03] csantanapr opened #366 "Refactor top level README to be simpler to get started"
The main idea is that top level README has too many options and to get started just to use openwhisk is too complex.

Proposal is to have less top level content and then links for more details.
- Have two sections:

1. I want to run and try out openwhisk on my computer
  - There should be one command to load vagrant and see a hello action running in the fastest way possible #343 #360
2. I want to

[2016-05-09 18:28] mrutkows opened #367 "Getting more done in GitHub with ZenHub"
Hola! @mrutkows has created a [ZenHub](http://www.zenhub.io) account for the **openwhisk** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboar

[2016-05-09 18:29] #367 closed

[2016-05-09 20:55] mrutkows opened #368 ""all.sh" bash script kills terminal at conclusion (Ubuntu 14.04.3)"
The Ubuntu instruction:
# Install all required software

  (cd openwhisk/tools/ubuntu-setup && source all.sh)

When executed (and all.sh is invoked) results in a lengthy series of download/install/config/setup.  Upon completion, the terminal exits so there is now way to verify success/failure.

[2016-05-10 05:56] lzbj opened #369 "Create a MD(markdown) version of OpenWhisk package introduction doc."
Based on the existing package and other concepts introduction documents.
https://github.com/openwhisk/openwhisk/tree/master/docs

Compose a MD doc about how to create package and submit them to github.

[2016-05-10 07:03] rabbah commented on #369
Do you mean just the latter (submit them to github)? Improving the docs for working with packages otherwise should complement and extend this https://github.com/openwhisk/openwhisk/blob/master/docs/packages.md#creating-a-package for example.

There are synchronizing changes to be made to the Bluemix related docs from which these were generated. @csantanapr can point you to the appropriate process.

[2016-05-10 10:07] lzbj commented on #312
you can go with this command:
wsk rule status name

[2016-05-10 12:56] sjfink opened #370 "quantify monitoring overhead"
What is the overhead of our statsd monitoring?

I think we don't know.

Work item:   create a controlled experiment to measure the overhead the statsd monitoring adds to the system.   Run the experiment periodically in CI.

[2016-05-10 13:27] bjustin-ibm opened #371 "Define Swift development experience"
At the current moment, the possibilities for Swift development experience on OpenWhisk are wide open. Let's use this issue to discuss the right approach to make developing OpenWhisk artifacts in Swift a good experience for our users.

Whatever specific decisions are made, I think we should keep in mind the following ideals:
- Allow for use of standard development tools, including Xcode and the Swi

[2016-05-10 13:33] bjustin-ibm commented on #371
**Proposal**: Actions must declare a global `main` function

The obvious advantage of this approach is simplicity. The action developer gets to see exactly what is expected of them, and the OW runtime knows exactly what code to invoke to run the action:

[code]
This advantage extends even to having the types of the `args` object and the expected return type plainly visible to the action developer.

[2016-05-10 14:21] mbehrendt commented on #345
what about this, as a first stab for defining terminology? any feedback welcome, pls feel free to throw tomatoes :-)

feed — a feed implements the knowledge for how to setup receiving events from a particular source. for instance, a github feed knows how to setup github webhooks, a cloudant feed knows how to configure cloudant for sending events about data changes.

trigger — a trigger is created

[2016-05-10 18:16] ioana-blue opened #373 "Improve message when logs are inquired before action is run"
I noticed the following behavior: I invoke an action (async) and immediately I ask for the logs. I get something like this:
[code]
The message is misleading, there is no error, it's just that the action was not run yet (it's pending). We should fix this message.

[2016-05-10 18:23] rabbah commented on #373
The implementation does not create an activation until the activation is completed. So a GET for "valid" activation id which is received as part of a non-blocking invoke will return `404` (Not Found) until the activation completes. The controller will need to create an activation id with a `status` marked `pending`.

[2016-05-10 19:09] mrutkows commented on #369
I believe David plans to create documentation for each of the individual packages and show how they can be used (within the directories of the actions/feeds themselves).  It would be good to have standalone docs for when we split out their dir. structure into new repos.

[2016-05-10 19:17] rabbah commented on #369
OK - The source for the docs in the referenced folder is this actually from another project, see https://github.com/IBM-Bluemix/docs/tree/master/openwhisk. I speculate that additional docs will be useful for Bluemix as well and should be coordinated so that they can be used there as well.

[2016-05-10 19:31] csantanapr opened #374 "Provide a way to define credentials using VCAP to be leverage by tests"
There should be docs, and tests that shows contributors how to use their own credentials when running tests

[2016-05-10 19:48] csantanapr commented on #374
Maybe we should visit the docs folder structure

I think we need to have different sub directories per end user of the docs.
- User documentation (just using openwhisk)
- Contributor documentation (a developer making contributions to the repo), I would name this "Developer docs" but that could get confuse with user docs, which is also a developer focusing in something else.
- Integrator documentat

[2016-05-10 19:52] csantanapr commented on #374
@jasonpet what do you think of starting a doc in `docs/contributor/testing.md` to doc a section for about using VCAP credentials in openwhisk tests

[2016-05-10 20:03] houshengbo opened #375 "Add user documentation for Java Actions"
Currently, OpenWhisk is still lack of the documentation for the part of Java runtimes. This issue is open to add the corresponding documentation.

[2016-05-10 20:06] houshengbo opened #376 "Add user documentation for Python Actions"
OpenWhisk is lack of the documents in the part of Python runtimes.
This issue is open to add the documentation to the Python runtimes.

[2016-05-10 20:22] paulcastro commented on #94
This has been completed

[2016-05-10 20:22] #94 closed

[2016-05-10 20:23] paulcastro commented on #289
4-25 and 5-03 snapshot runtimes completed

[2016-05-10 21:42] mrutkows commented on #369
OK - So the docs in https://github.com/IBM-Bluemix/docs/tree/master/openwhisk are the "masters" from which the open ones get generated (i.e., in the path form your first link... https://github.com/openwhisk/openwhisk/tree/master/docs)?  So what you are saying is we need to author is such a way so both benefit?  Also, is there linkage between the 2? or are they now separated?

[2016-05-10 23:04] rabbah commented on #369
deferring to @csantanapr.

[2016-05-11 01:50] lzbj commented on #369
Correct, so I can start the work, and submit them to correct repo when necessary.

[2016-05-11 02:25] lzbj commented on #369
@mrutkows , this doc:
https://github.com/openwhisk/openwhisk/blob/master/docs/catalog.md
so we need to split this doc, for each package folder once we create new repo for packages?

[2016-05-11 02:36] csantanapr commented on #369
I agree if the catalog will be split into different repos, each repo should have a top level README.md and a docs/ directory

[2016-05-11 03:03] lzbj commented on #376
Do we have runtime documents for Nodejs and Swift/Swift3, it's better also we have an overall doc to introduce about runtimes, what is runtimes, how runtimes is weavered in OpenWhisk and used etc,.

[2016-05-11 03:12] csantanapr commented on #376
@lzbj All current docs about languages/runtimes are located here [docs/actions.md](https://github.com/openwhisk/openwhisk/blob/master/docs/actions.md)

@paulcastro it's involved with Swift runtime and will be helping with the corresponding docs for Swift 3

[2016-05-11 05:20] daisy-ycguo commented on #375
I would like to work on this issue. I can add a section "## Creating and invoking Java actions" to https://github.com/openwhisk/openwhisk/edit/master/docs/actions.md and explain how to create and use Java actions. Does it make sense ?

[2016-05-11 07:22] daisy-ycguo opened #378 ""wget https://get.docker.com/..." failed while building the container whisk/dispatcher"
I run "ant build" and meet with an error while building the container whisk/dispatcher.

     [exec] Executing 'docker --host 172.17.0.1:4243 build -t whisk/dispatcher /home/daisy/workspace/openwhisk/core/dispatcher'
    .......
     [exec] Step 1 : FROM whisk/scala
     [exec]  ---> ebdaf0547678
     [exec] Step 2 : RUN wget -O /usr/bin/docker "https://get.docker.com/builds/Linux/x86_64/docker-1.

[2016-05-11 12:56] domdom82 commented on #73
[code]
also python is needed in the docker machine.

install via
[code]

[2016-05-11 12:58] markusthoemmes commented on #73
These can probably be added to the existing setup scripts for docker-machine for convenience.

[2016-05-11 13:48] paulcastro opened #380 "Update Swift3 KituaNet test"
Allow network calls to timeout, add 3 retries

[2016-05-11 14:02] #363 closed

[2016-05-11 14:03] jasonpet commented on #363
This is merged now.

[2016-05-11 16:21] mrutkows commented on #375
Assigned to Daisy

[2016-05-11 16:22] mrutkows commented on #376
Assigned to Vincent

[2016-05-11 16:44] johnsolm opened #382 "Update REST API to contain Various Activity Transaction Time"
## Calculate and Store Activity Transaction Time

As a user of Whisk I would like to be able to be able to understand how much time is spent performing various Whisk Activities.  I need to know more than just the overall execution time.  Here are the sorts of details I would like to know:

1) **user**: billable time in the action

2) **system**:  controller-to-controller time - user

3) **network*

[2016-05-11 17:11] bjustin-ibm opened #384 "print() output not shown in logs for Swift actions"
For the following Swift action:
[code]
I would expect to see "Hey! Did this get logged?" somewhere in the activation logs but, alas, I do not.

[2016-05-11 19:46] sjfink opened #385 "need better error message for malformed entity name"
[code]

Can we at least print which entity name is malformed, and print a small blurb with the rules for well-formedness?

[2016-05-11 19:50] rabbah commented on #385
You cannot create a rule from a package action. Yes we can report a better error message but this is getting fixed as part of activator work.

[2016-05-11 19:55] rabbah commented on #239
@markusthoemmes this will need to be addressed as part of the activator work.

[2016-05-11 23:51] csantanapr opened #387 "add whisk.getContext() to js SDK"
From @sjfink
 in a nutshell, the proposal is to add a getContext() method to the whisk object in the javascript SDK which returns a JSON object (key-values) which holds deployment-specific properties.

call it whisk.getContext()

Would be nice if passing context to js container were the same as passing context to the black box container. If the /init protocol works for black box, can it work for n

[2016-05-12 00:48] csantanapr opened #388 "Implement the delete of webhook for github package"
the Git package creates a webhook but is not deleting it. There is a missing correlation between the trigger and the webhook.

[2016-05-12 00:56] csantanapr opened #389 "Tweak package annotations"
Update the Slack and GitHub package annotations, including shortening the descriptions add adding package level parameters.

@vinodmut any more input you can provide on what's needs to be done?

[2016-05-12 01:03] rabbah commented on #389
Defer to @nickm.

[2016-05-12 01:26] csantanapr commented on #384
FYI: this affects both swift2 and swift3 runtimes

[2016-05-12 01:52] psuter commented on #384
Should be fixed after #386 and tested explicitly, for both runtimes.

[2016-05-12 01:52] #384 closed

[2016-05-12 01:53] psuter commented on #114
Moot now that we have `swift:3`.

[2016-05-12 01:53] #114 closed

[2016-05-12 02:00] csantanapr opened #390 "Alarm/Scheduler package should be in open source"
There is an implementation of that alarm/schedule feed implemented in internal repository, this should be moved to open source. It's also looks weird to have docs in this open repo for a package that source code is not available here.

[2016-05-12 02:04] csantanapr commented on #336
Found 1/2 #390 for alarm

[2016-05-12 02:08] csantanapr opened #391 "SMS notification package - Twilio"
A package which can send text messages such as using services like Twilio

[2016-05-12 02:12] csantanapr opened #392 "email notification package"
From @sjfink :
We could use SendGrid -- though there have been some concerns about dropped messages and spam filters.

We need an action to send outgoing emails and a feed to receive incoming emails as triggers.

[2016-05-12 02:16] csantanapr opened #393 "websocket package"
build a package which contains an action to send a message as a client over a web socket to a web socket server (like socket io)

possible parameter for action
- server url (string)
- message (json obj)
- (optional) #channel string or array of strings

[2016-05-12 02:22] csantanapr opened #394 "RSS package"
A package which can subscribe to an RSS feed and generate events.

RSS is a very common way to notify people about events.

package should include feed (pooling 15 minutes) to see if there is a new atom item in rss xml url.

CDC health alerts as an RSS feed -- for health care customer scenario
New PodCast (i.e. iTunes) available - action to download mp3 and translate, or speach2text and store in c

[2016-05-12 02:41] csantanapr opened #395 "Mobile push notifications from actions"
For example we could use the IMF Push Service in Bluemix so it can be used in mobile solutions.

Use cases are like, when push to git send push notification to phone

[2016-05-12 02:48] csantanapr opened #396 "Object Storage package"
Object Storage pacakge provides an unstructured cloud data store.

User can read and write files on object storage service like bluemix

object storage in bluemix currently doesn't support change feeds, and pooling feed/provider implementation would be suboptimal. **So this issue should only cover read and write.**

[2016-05-12 02:54] csantanapr opened #397 "BOX package (box.com)"
Use case is to have actions to read and write to box and possible a change feed provider

From daniel-federschmidt :
It would be nice if the package also would provide feeds which trigger events when something happens on Box. This could be facilitated through the Event Notifications delivered over webhooks. I already did some experiments with whisk and the API two months ago. Unfortunately, I coul

[2016-05-12 02:54] csantanapr commented on #397
@paulcastro if you ware not working on this, please unassigned yourself

[2016-05-12 04:08] lzbj commented on #376
@csantanapr, thanks.

[2016-05-12 04:09] lzbj commented on #365
@csantanapr ,could you please assign this task to me?

[2016-05-12 06:13] lzbj commented on #365
The latest recommended soluitons here:
http://watson-qa-demo.mybluemix.net/
https://developer.ibm.com/watson/blog/2015/11/11/watson-question-and-answer-service-to-be-withdrawn/

[2016-05-12 08:18] domdom82 commented on #73
@rabbah ran into a version problem of `setuptools` using Ansible.

So we need to make sure setuptools is at a current version also.

[code]

seeing as there are so many commands to run we should incorporate those into some `all.sh` for mac script.

[2016-05-12 10:05] csantanapr commented on #365
Good catch, then instead we can create actions using the replacements services: Natural Language Classifier, Dialog, Retrieve and Rank, and Document Conversion.

What do you think we use this issue to implement Dialog and create new issues for the other ones?

[2016-05-12 10:18] csantanapr commented on #384
Yay viva the logs. !

[2016-05-12 13:17] tareqmamari opened #399 "Improve error message when an action source file does not exist"
when I create an action and passed a non-exist file name a not valid file error thrown, I expected " The file action1.js does not exist"

[code]

[2016-05-12 13:21] tareqmamari commented on #395
I think Sebastian Aschoff is working on that

[2016-05-12 13:23] tareqmamari commented on #396
I will work on that as a part of my master thesis

[2016-05-12 13:44] csantanapr opened #400 "Message Hub package"
It will be good to have a package for message hub with action, and feeds
We can use the Bluemix Message Hub service to implement for example.

As always assume code, tests, and docs are covered to close the issue.

[2016-05-12 13:52] csantanapr commented on #400
Hi @nauerz-ibm Can you add Sebastian Aschoff to openwhisk team and  assigned this issue to him?

[2016-05-12 13:53] lzbj commented on #365
Thanks, yes, agree with you. Then maybe we can think of using of those created actions in a pipline to achieve some more complex apps, such as Q&A etc. Another solution is to utilize several Watson api in one action to compose a complex app, but in my opinion, the former one is more flexible.

[2016-05-12 13:58] csantanapr commented on #395
Thanks @tareqmamari , can you put a name in your profile I can't tell if you are an IBMer.

[2016-05-12 14:03] csantanapr commented on #395
@tareqmamari Sebastian Aschoff is going to work on Message Hub #400

@nwspeete-ibm is going to work on IMF Push

They can collaborate on IMF push

[2016-05-12 14:04] csantanapr commented on #395
cc @nauerz-ibm

[2016-05-12 14:10] fabdslv opened #401 "In Swagger file, payload described as KeyValue model does not correspond to what server is expecting"
KeyValue defines an object as-is : ```{'key': 'name', 'value':'Phil'}``` while server only accepts ```{'name':'Phil'}```.

[2016-05-12 14:20] csantanapr commented on #375
@daisy-ycguo Go ahead and work on documenting java in [docs/actions.md](https://github.com/openwhisk/openwhisk/edit/master/docs/actions.md)

Send a Pull request with WIP in title so we people can review, I think @rabbah might be the SME for java runtime.

[2016-05-12 14:25] csantanapr commented on #376
@lzbj I think @ioana-blue is the SME for python actions/runtime she will be able to review and answer questions.

Send a Pull Request with WIP in title so people can provide feedback as you progress

[2016-05-12 14:28] rabbah opened #402 "spray-client for couch reporting error-level log messages when it shouldn't"
the logs show that a 'get' for an entity that doesn't exist results in a log message at level `ERROR` when it should be `INFO`.

[code]

[2016-05-12 14:39] csantanapr commented on #365
@lzbj I agree that's we have sequences to create more complex scenarios, but we should have generic actions in a package that user can copy/clone and adjust and create their own sequence or trigger an event from inside an action to make a rule run with another actions

[2016-05-12 14:44] csantanapr commented on #396
Hi @tareqmamari please coordinate with @jasonpet he has some code working and maybe you two can work together or split the work.

[2016-05-12 14:46] psuter commented on #402
Would it make sense for the method to accept a boolean indicating whether we expect the retrieval to be successful?

[2016-05-12 15:03] tareqmamari commented on #396
Sure, will do that
Thanks

[2016-05-12 15:04] csantanapr opened #403 "Add git2slack tutorial"
It would be good to have a tutorial step by step for someone to implement a scenario to create a **Rule** using the Github **Feed** to create a **Trigger** to _invoke_ a Slack **Action**

Both Github feed and Slack actions already exist, let's show user how they can use them.

The document should be a markdown in [docs/tutorials/git2slack.md]

Tutorials should have code snippets inside the markdow

[2016-05-12 15:08] rabbah commented on #402
A "document not found" from the controller's point of view is invariably not an error. In the invoker, it is invariably always an error. Viewed in this way, yes. Of course there are other operation, which if they fail should generate an error-level log message (connection failure for example).

[2016-05-12 15:14] sjfink commented on #403
Note: I believe I've seen a git2slack.js which does not follow the pattern described by Carlos above.

Let's make sure that the tutorial uses the github and slack packages in a pipeline, as described by Carlos above.

[2016-05-12 15:15] mrutkows commented on #390
Missing period. Regardless of Vagrant or not.

[2016-05-12 15:18] cjolif commented on #262
A vendor specific value like `"x-type": "json"`might be added to let interpreters of the swagger to do that.

[2016-05-12 15:34] ChrBi commented on #403
I'll open a PR of the file, how it is at the moment.
Maybe someone else, could do a short check, if this tutorial still works.

[2016-05-12 15:47] csantanapr commented on #403
Hi @ChrBi can you do that work and take it to completion, to check if the tutorial works, and modify it to match the specifications I describe in https://github.com/openwhisk/openwhisk/issues/403#issue-154506045 ?

[2016-05-12 17:27] ioana-blue opened #405 "Rules with multiple triggers"
Talking to potential users, someone expressed interest in a special type of rule that has one action which is invoked upon receiving a collection of triggers (i.e., only after _all_ triggers are fired).

Not sure whether we already have an issue to cover such a feature.

[2016-05-12 18:07] csantanapr commented on #405
I don't think is practical since a feed keeps sending events and firing triggers for the same feed, knowing that all are trigger is hard to define without saving state.

For example take web page, imaging that you want to  run a single action only with a set of events fire.

For example Q key is press, A key press and Z key press

Now start pressing all 3 keys like crazy :-)

The events will not b

[2016-05-12 18:15] ioana-blue commented on #405
I agree it can be implemented with our current API, but I think it will have some overhead. So the real question is whether there are enough use cases like this one to justify us dealing with managing the state of the triggers instead of the user of our system.

[2016-05-12 19:14] mrutkows opened #406 "Typo in description for word 'language'"
s/languge/language/

[2016-05-12 19:19] #406 closed

[2016-05-12 19:48] mrutkows opened #408 "Document --dropit flag on db create for readme"
section : Initialize datastore containing authorization keys
  tools/db/createImmortalDBs.sh

can avoid several instructions by simply supply the cmd. line parm. --dropit which is accepted by the script.

[2016-05-12 19:50] mrutkows commented on #408
Applies to file:
https://github.com/openwhisk/openwhisk/blob/master/README.md

[2016-05-12 20:14] rabbah commented on #408
This was deliberate omission because it's dangerous but we need it however for Travis automation. If documented, it should be accompanied with the warning since this is an irreversible action and offers no confirmation of which db is being wiped.

[2016-05-12 20:34] mrutkows commented on #408
Interesting as this was taught as mainstream usage for developers...

[2016-05-12 20:47] rabbah commented on #408
What does this mean? It's not a document features and is used in exactly one place `travis/build.sh`:

[code]

[2016-05-12 20:55] mrutkows commented on #408
It is in the readme.md as described above... the createImmortalDBs.sh is not just invoked in travis its mainstream instructions for developers installing running openwhisk in their local setup/env....

section : Initialize datastore containing authorization keys
tools/db/createImmortalDBs.sh

During our team education sessions we were shown that we could use --dropit to avoid the manual interventi

[2016-05-12 21:12] rabbah commented on #408
You're conflating `createImmortalDBs.sh` and the option to drop automatically. The former is documented, obviously as is a required step. The latter is not. It is special. Don't use it.

[2016-05-12 21:38] rabbah commented on #406
Fixed by #407.

[2016-05-12 21:42] mrutkows commented on #408
on the contrary, since being shown it, I use it several times a day (it seems) using the ephemeral CouchDB...

[2016-05-12 21:46] #408 closed

[2016-05-12 21:47] mrutkows commented on #408
Closing for now, but its a lovely shortcut that clearly is used by devs.

[2016-05-12 21:51] rabbah commented on #408
FYI There are new instructions coming for couchdb that will make the db init no longer necessary.

[2016-05-12 22:35] mrutkows commented on #408
Issue #?

[2016-05-13 00:33] mbehrendt commented on #405
i think this is a potentially interesting future item, but don't see it as a short-term item -- the implementation can become very complex, and would therefore prefer to first harden more basic scenarios.

[2016-05-13 01:28] mbehrendt commented on #392
i'd suggest to prioritize the event source higher than the action

[2016-05-13 01:35] lzbj commented on #365
Yes, sure.

[2016-05-13 02:10] csantanapr opened #409 "Add more information about contribution guidelines"
We need to document some basic instructions when collaborating to the repo

Don't know if this info belongs here [CONTRIBUTING.md](https://github.com/openwhisk/openwhisk/blob/master/CONTRIBUTING.md) or create a new doc here [docs/contributors/README.md].

Maybe have some sections
- Setup and fork maintenance
- Preparing Pull requests
- Reviewing Pull requests
- Merging Pull requests
- (Optional) C

[2016-05-13 12:25] markusthoemmes commented on #198
It might be interesting to think about this in terms of draining the system. I.e. you send the invoker a `SIGTERM` signal, but it continues to finish the work it already has and exits afterwards, taking it ContainerPool with it.

[2016-05-13 12:33] csantanapr opened #412 "Update user documentation for Swift3 Actions"
Update user level docs in [docs/actions.md](https://github.com/openwhisk/openwhisk/blob/master/docs/actions.md) for swift3 actions including any new CLI flags to choose between swift@2 or swift@3

[2016-05-13 12:35] csantanapr commented on #412
@paulcastro can you drive this completion bringing other folks for help as you need feet, including testing the docs steps

[2016-05-13 13:15] rabbah opened #413 "local CouchDb over https with self-signed certificate"
Our docs for a local Couch instance [state](https://github.com/openwhisk/openwhisk#using-couchdb) that it must be available over `https`

However this leads to an error accessing the database because the implementation does not permit a self-signed certificate. For example

[code]

This is also related to #352. @psuter.

[2016-05-13 13:21] psuter commented on #413
Ouch. Doc is outdated, `http` is fine. In fact, this is what the default scripts use.

[2016-05-13 13:22] rabbah commented on #413
Should we allow `https` with self-signed?

[2016-05-13 13:22] l2fprod commented on #413
These are the steps I followed to generate the certificate for CouchDB: https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=48203146

[2016-05-13 13:43] csantanapr opened #414 "Syntax for referring to item versions"
Some work is already done to versioned actions, but it's not expose in CLI and other items like rules, triggers, feeds will need to be doc.

From @vinodmut :
All items are versioned using semantic versioning. We need a way to refer to particular versions of items.

This is needed both in the CLI and API.

A proposal for the syntax that continues to use ':' delimiters:

Fully qualified name with ve

[2016-05-13 14:10] csantanapr opened #415 "binary CLI distribution (go-CLI)"
Provide a better experience to install the WSK CLI

Work already started implementing a new WSK CLI using go.

Platforms to support are similars to the ones the CloudFoundry supports:
Developer workstations: Linux, Mac, and Windows

[2016-05-13 14:12] csantanapr commented on #415
Work already in progress in PR #238

[2016-05-13 14:15] perryibm commented on #198
The plan is to do this after we can actually restart the invoker (kafka back pressure and activation count reset).  As it is, the cleanup here won't let you reclaim the machine anyhow.  Also, note that the invoker does clean up leftover stuff upon startup.

[2016-05-13 14:23] #412 closed

[2016-05-13 14:41] csantanapr opened #416 "Add optional parameter to Whisk CLI to change output type of commands"
It would be good to have JSON output from CLI if you want to process output from CLI in code. Something like that:

wsk --json action list

This should not be implemented in python, and instead in the new go-CLI in #415

It would provide a way for other cli or scripts (ant, make, maven, shell) to instrument the wsk for their own CI/CD pipeline,

[2016-05-13 14:47] csantanapr opened #417 "wsk activation poll -sh 1 shows logs in reserve order"
From @l2fprod :
It shows more recent first, ends up with logs from one hour ago and then continue the polling.
It should be reversed - so that it reads from oldest to most recent.

Some reference here about poll :
[code]

[2016-05-13 14:57] paulcastro commented on #273
Superseded by #289

[2016-05-13 14:57] #273 closed

[2016-05-13 14:58] #289 closed

[2016-05-13 15:07] csantanapr opened #418 "wsk action copy only copies exec not parameters or annotations"
From @rabbah "i think it be convenient to copy parameters, and also the annotations.
it is less useful to copy the exec and miss out on all the rest."

[2016-05-13 15:11] csantanapr opened #419 "Print timestamps when listing activations in CLI"
From @nauerz-ibm :
During workshop of openwhisk Users asked for timestamps when doing `wsk activation list`.

[2016-05-13 15:19] csantanapr opened #420 "move cli into new repo openwhisk-cli"

[2016-05-13 15:20] csantanapr opened #421 "move docs into new repo openwhisk-docs"
Proposal:

Start with a jekyll gh-pages repo:
- main branch will gh-pages
- markdown will be what new jekyll3 supports
- Github will provide website using the content of the repo https://docs.openwhisk.github.io/
- everytime you merge content into gh-pages web site get's updated

docs tree:
- users/   --> (User guide for people using openwhisk and building openwhisk re-usable packages)
- contribut

[2016-05-13 15:20] csantanapr opened #422 "Move components out into individual repos"
The idea is to move components into separate repositories without damaging the contributors and operators experience.

Currently everything is one repo make some work easier:
- easy to get all files
- no version dependencies between inner components

The problem it will not scale as the contributions grow

Acceptance criteria:
- Handle dependencies between components
- Handle testing, tagging, and

[2016-05-13 15:25] csantanapr commented on #422
@mrutkows I created an Epic instead of an issue since this will take some time to do, but we can make progress in some components short term and others long term

[2016-05-13 15:27] csantanapr commented on #420
This one will be implemented once we have a stable go CLI in tools/go-cli/ released and tested. Right now the focus is to replace the current python cli with go cli in the same repo and do a clean swap.

[2016-05-13 15:29] rabbah commented on #422
For contract https://github.com/docker/docker 1370 contributes, one repo, includes docs and cli.

[2016-05-13 15:30] rabbah commented on #419
closing as duplicate of #20.

[2016-05-13 15:30] #419 closed

[2016-05-13 15:32] bjustin-ibm commented on #422
When splitting existing repos into smaller, specialized ones, I found the following command to be really helpful:

```git filter-branch --prune-empty --tree-filter 'rm -rf <folders that don't belong in new repo>' HEAD```

If you start with an existing repo, and run this command and replace `<folders that don't belong in new repo>` with the list of folders which do not belong in the new specialized

[2016-05-13 15:37] l2fprod opened #423 "reduce_limit=false is needed when using a local CouchDB"
I'm using a local CouchDB on my mac and openwhisk running in vagrant.

```wsk list``` gives:

[code]

After changing "reduce_limit" to "false" in the config as done in issue #1 by the script, wsk list works as expected.

[2016-05-13 15:39] csantanapr opened #424 "Users disliked output of wsk list entities when no actions, rules, triggers etc. were available"
From @nauerz-ibm :
During workshop user would have preferred seeing a different (more descriptive I assume) output when no actions, rules, triggers, etc. were available.

This happens first time users uses the system, like a new dev setup and using guest account

Current output:

[code]

[2016-05-13 15:44] csantanapr commented on #424
Currently it prints the Dividers with no content, maybe we can put a count or a message that tells user run this command to copy/clone your first action. myhello

[2016-05-13 16:00] csantanapr opened #425 "Improve JSON processing in CLI params"
Reported by @nauerz-ibm
I don't recall the exact error messages, but users had trouble passing JSON between JS and Swift actions. The following two errors occurred when processing a very large JSON object (hundreds of attributes in it).  I do not know if this is b/c of the actual JSON structure, or if it was related to file size issues:<br/>
<br/>
JSON in this format, with quotes around both the k

[2016-05-13 16:02] csantanapr opened #426 "Improve JSON processing in CLI by allowing file input"
Reported by @nauerz-ibm

Also, users found an error passing data FROM a JS action INTO a Swift action. JSON that is perfectly valid was failing when passed from a Swift action into a JSON action. The JSON contained a single quote within a double quote, and once the single quote was removed, then it worked as expected.<br/>
<br/>
For example:<br/>
<br/>
This failed (part of a larger JSON array):<br

[2016-05-13 16:17] csantanapr opened #427 "add ability to distinguish plain actions from sequences at the "list" level"
From @starpit :
right now, the `wsk action list` output doesn't not allow me to distinguish sequences from actions, at least for sequences created on the CLI

for sequences created in the UI, i have been adding an annotation `{ key: "isSequence", value: true }`

it'd be great if we could update the CLI to adopt this behavior. otherwise, i cannot know how to render an action, without doing a "get"

[2016-05-13 16:17] csantanapr commented on #427
From @rabbah :
Doing it in the CLI is of course doable but the better place to do this and enforce it is in the controller.

[2016-05-13 16:29] csantanapr opened #428 "Go CLI Receives a Certificate Error from the Local Server"
From @dubeejw :

When running Go CLI commands that communicate with the local server a certificate error occurs. This can be solved by enabling the InsecureSkipVerify property for TLS in go-whisk/client.go NewClient(). However, this may not be ideal for security reasons.

Error:
Get https://172.17.0.1/api/v1/namespaces/whisk.system/packages: x509: certificate has expired or is not yet valid

[2016-05-13 16:29] csantanapr commented on #428
From @rabbah :
deally we just add -i, --insecure option to not verify SSL certificate of API endpoint.

[2016-05-13 16:34] csantanapr opened #430 "Go CLI Action Update Command Does Not Work"
From @dubeejw :

When using the "action update" command from the Go CLI, an error is returned. This is due to arguments not being parsed, and sent to the server correctly.

[2016-05-13 16:38] rabbah commented on #428
ideally we just add -i, --insecure option to not verify SSL certificate of API endpoint.

[2016-05-13 16:40] rabbah commented on #426
Why is this a CLI issue?

[2016-05-13 16:41] rabbah commented on #427
Doing it in the CLI is of course doable but the better place to do this and enforce it is in the controller.

[2016-05-13 16:42] csantanapr opened #431 "Automatic code style checks for our code"
Originally from @markusthoemmes :

We should enforce automatic code style checks on our code to keep it consistent and readable for everyone and to prevent styling annotations in code reviews.

Pointers to start: http://www.scalastyle.org/ they have a gradle plugin so its really a matter of choosing the styleguide.

@rabbah  proposed http://twitter.github.io/effectivescala/
@psuter  comments?

[2016-05-13 16:43] csantanapr commented on #431
From @markusthoemmes :
First stage will be a setup guide for scalastyle in eclipse + choosing a guide. We'll need to tweak the guide to our needs before we finally enforce it on a build level.

[2016-05-13 18:50] #430 closed

[2016-05-13 19:01] csantanapr opened #434 "move catalog into new openwhisk-catalog"

[2016-05-13 19:10] csantanapr opened #435 "Firing triggers from blackbox containers"
From @vinodmut :

What's the right mechanism to fire triggers from a blackbox container? Unlike Javascript actions, there's no SDK the developer can use.

The simplest option is to use the /triggers API.

This came up in the context of asynchronous results, where the async result is sent in a trigger event.